{
  "openapi": "3.0.2",
  "info": {
    "title": "Core APIs",
    "version": "2026-08-25",
    "contact": {
      "email": "producteng@drivewealth.tech"
    }
  },
  "servers": [
    {
      "url": "https://bo-api.drivewealth.io/back-office",
      "description": "Sandbox (No Real World Financial/Trading Impact)"
    },
    {
      "url": "https://bo-api.drivewealth.net/back-office",
      "description": "Production"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "x-readme": {
    "explorer-enabled": false,
    "headers": [
      {
        "key": "dw-client-app-key",
        "value": "{{yourAppKey}}"
      }
    ]
  },
  "tags": [
    {
      "name": "Performance"
    }
  ],
  "paths": {
    "/accounts/{accountID}/performance-returns": {
      "get": {
        "tags": [
          "Performance"
        ],
        "operationId": "AccountPerformance",
        "summary": "Retrieve Account Performance",
        "description": "Retrieves end of day account performance including balances, cash flows, rate of return and a variety of attributes by accountNo.",
        "parameters": [
          {
            "name": "accountID",
            "in": "path",
            "schema": {
              "$ref": "#/components/schemas/accountID"
            },
            "required": true
          },
          {
            "name": "frequency",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "D",
                "W",
                "M",
                "Y"
              ]
            },
            "required": true,
            "description": "Used for frequency of response. D = Daily, W = Weekly, M = Monthly, Y = Yearly."
          },
          {
            "name": "from",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/from"
            },
            "required": true
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/to"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieving Account Performance details by accountID was Successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PerformanceResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "accountID": {
        "type": "string",
        "example": "cc07f91b-7ee1-4868-b8fc-823c70a1b932.1407775317759",
        "description": "The user's unique account identifier."
      },
      "accountNo": {
        "type": "string",
        "example": "DWBG000052",
        "description": "The user's unique account number, that is human readable."
      },
      "performanceObj": {
        "type": "object",
        "properties": {
          "realizedDayPL": {
            "type": "number",
            "example": 100.5,
            "description": "The actual profit or loss on the day in USD."
          },
          "unrealizedDayPL": {
            "type": "number",
            "example": 3564.38,
            "description": "Current unrealized profit and loss for open positions in account."
          },
          "cumRealizedPL": {
            "type": "number",
            "example": 10,
            "description": "The cumulative realized profit/loss from inception of account, each day adds to previous days."
          },
          "date": {
            "type": "string",
            "example": "2018-09-18",
            "description": "the date of the performance arrays values."
          },
          "equity": {
            "type": "number",
            "example": 9941.59,
            "description": "Invested equity (excluding cash) for this day (see performance.date). For Total `Equity` add performance.equity and performance.cash"
          },
          "cash": {
            "type": "number",
            "example": 439.7,
            "description": "The total cash balance (settled and unsettled) for this day (see performance.date)."
          },
          "deposits": {
            "type": "number",
            "example": 0,
            "description": "The total amount of deposits calculated from 4pm of previous day until current time."
          },
          "withdrawals": {
            "type": "number",
            "example": 0,
            "description": "The total amount of withdrawals calculated from 4pm of previous day until current time."
          },
          "fees": {
            "type": "number",
            "example": 0,
            "description": "The total amount of fees calculated from 4pm of previous day until current time."
          }
        }
      },
      "from": {
        "type": "string",
        "format": "date",
        "pattern": "yyyy-MM-dd",
        "example": "2022-12-25",
        "description": "A filter, the start date."
      },
      "to": {
        "type": "string",
        "format": "date",
        "pattern": "yyyy-MM-dd",
        "example": "2022-12-26",
        "description": "A filter, the end date."
      },
      "PerformanceResponse": {
        "type": "object",
        "x-implements": [
          "java.io.Serializable"
        ],
        "properties": {
          "accountID": {
            "$ref": "#/components/schemas/accountID"
          },
          "accountNo": {
            "$ref": "#/components/schemas/accountNo"
          },
          "startDate": {
            "type": "string",
            "format": "date",
            "description": "Requested start date of the accounts performance period."
          },
          "endDate": {
            "type": "string",
            "format": "date",
            "description": "Requested end date of the accounts performance period."
          },
          "lastUpdated": {
            "type": "string",
            "format": "date",
            "description": "The date and time the this request."
          },
          "timeSeries": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TimeSeriesElement"
            }
          },
          "summary": {
            "$ref": "#/components/schemas/Summary",
            "type": "object"
          }
        }
      },
      "TimeSeriesElement": {
        "type": "object",
        "x-implements": [
          "java.io.Serializable"
        ],
        "properties": {
          "date": {
            "type": "string",
            "example": "2018-09-18",
            "description": "the date of the performance arrays values."
          },
          "gainLoss": {
            "type": "number",
            "description": "The change in market value of the account during this time series (adjusted to remove impact of cashflows)."
          },
          "positionBalance": {
            "type": "number",
            "description": "The sum of the value of the positions held in the account (excluding money market funds which are captured in cashBalance) at the beginning date of the time series."
          },
          "cashBalance": {
            "$ref": "#/components/schemas/performanceObj/properties/cash"
          },
          "marketValue": {
            "type": "number",
            "description": "The market value of the account at the beginning date of the time series. Market value defined as the sum of the position balance and the cash balance."
          },
          "cashFlows": {
            "type": "number",
            "description": "The sum of the inflows and outflows during this time series."
          },
          "deposits": {
            "$ref": "#/components/schemas/performanceObj/properties/deposits"
          },
          "withdrawals": {
            "$ref": "#/components/schemas/performanceObj/properties/withdrawals"
          },
          "fees": {
            "type": "number",
            "example": 0,
            "description": "The total amount of fees calculated from 4pm of previous day until current time."
          },
          "income": {
            "type": "number",
            "description": "Income in the account for the time series. (Income defined as dividends, interest and capital gains distributions."
          },
          "rateOfReturn": {
            "type": "number",
            "description": "The rate of return for the time series calculated utilizing the Modified Dietz methodology."
          }
        }
      },
      "Summary": {
        "type": "object",
        "x-implements": [
          "java.io.Serializable"
        ],
        "properties": {
          "beginningMarketValue": {
            "type": "number",
            "description": "The market value of the account at the beginning date of the query. Market value defined as the sum of the position balance and the cash balance."
          },
          "beginningPositionBalance": {
            "type": "number",
            "description": "The sum of the value of the positions held in the account (excluding money market funds which are captured in cashBalance) at the beginning date or the query."
          },
          "beginningCashBalance": {
            "type": "number",
            "description": "The cash balance of the account at the beginning date of the query."
          },
          "endingMarketValue": {
            "type": "number",
            "description": "The market value of the account at the ending date of the query. Market value defined as the sum of the position balance and the cash balance."
          },
          "endingPositionBalance": {
            "type": "number",
            "description": "The sum of the value of the positions held in the account (excluding money market funds which are captured in cashBalance) at the ending date of the query"
          },
          "endingCashBalance": {
            "type": "number",
            "description": "The cash balance of the account at the ending date of the query."
          },
          "periodGainLoss": {
            "type": "number",
            "description": "The gain / loss for the period defined as the delta of the beginningMarketValue vs endingMarketValue adjusted for cashflows."
          },
          "periodCashFlows": {
            "type": "number",
            "description": "The sum of the inflows and outflows during this period."
          },
          "periodDeposits": {
            "type": "number",
            "description": "The sum of deposits for this period."
          },
          "periodWithdrawals": {
            "type": "number",
            "description": "The sum of withdrawals for this period."
          },
          "periodFees": {
            "type": "number",
            "description": "The sum of trading related fees accumulated during this period."
          },
          "periodIncome": {
            "type": "number",
            "description": "Income in the account for the period. (Income defined as dividends, interest and capital gains distributions."
          },
          "periodReturn": {
            "type": "number",
            "description": "The return for the period calculated by utilizing Modified Dietz methodology."
          },
          "mtdReturn": {
            "type": "number",
            "description": "The month-to-date return for the account calculated utilizing Modified Dietz methodology."
          },
          "ytdReturn": {
            "type": "number",
            "description": "The historic year-to-date year return of the account calculated by joining monthly return statistics. Query will return NULL values if the account has not been open for the duration."
          },
          "1yearReturn": {
            "type": "number",
            "description": "The historic 1 year return of the account calculated by joining monthly return statistics. Query will return NULL values if the account has not been open for the duration."
          },
          "3yearReturn": {
            "type": "number",
            "description": "The historic 3 year return of the account calculated by joining monthly return statistics. Query will return NULL values if the account has not been open for the duration."
          },
          "5yearReturn": {
            "type": "number",
            "description": "The historic 5 year return of the account calculated by joining monthly return statistics. Query will return NULL values if the account has not been open for the duration."
          },
          "inceptionReturn": {
            "type": "number",
            "description": "The historic return of the account calculated by joining monthly return statistics from inception of account to current date."
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}