{
  "openapi": "3.1.0",
  "info": {
    "title": "Modulr API",
    "description": "Modulr API",
    "license": {
      "name": "© Modulr Finance",
      "url": "https://www.modulrfinance.com"
    },
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api-sandbox.modulrfinance.com/api-sandbox-token"
    }
  ],
  "security": [
    {
      "modulo_security": []
    }
  ],
  "paths": {
    "/channel-managers/cards/activities": {
      "get": {
        "tags": [
          "Channel Manager Card"
        ],
        "summary": "Retrieve channel manager's card activities",
        "description": "Retrieve card activities owned by the channel manager or over specific Date range.View card activities for a single card when a card ID is specified, time frame is optional.",
        "operationId": "channelManagerGetCardActivities",
        "parameters": [
          {
            "name": "fromCreatedDate",
            "in": "query",
            "description": "Activities with a created date equal to or after this date. Format: 'yyyy-MM-dd'T'HH:mm:ssZ'. Value cannot be more than 7 days in the past when mandatory. Value is optional if only a single Card ID has been provided",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "example": "2019-01-01T15:14:38-0000"
          },
          {
            "name": "toCreatedDate",
            "in": "query",
            "description": "Activities with a created date before this date. Format: 'yyyy-MM-dd'T'HH:mm:ssZ'. Value is optional if only a single Card ID has been provided or from date is within last 7 days",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "example": "2019-01-01T15:14:38-0000"
          },
          {
            "name": "statuses",
            "in": "query",
            "description": "Activities with possibly multiple statuses equal to this value. Omitting this is equivalent to supplying all values",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "DECLINED",
                "APPROVED",
                "SETTLED",
                "EXPIRED",
                "APPLIED",
                "PENDING"
              ]
            }
          },
          {
            "name": "types",
            "in": "query",
            "description": "Activities with possibly multiple types equal to this value. Omitting this is equivalent to supplying all values",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "AUTHORISATION",
                "REVERSAL",
                "SETTLEMENT",
                "REFUND",
                "ORIGINAL_CREDIT",
                "OFFLINE_TRANSACTION",
                "ASI",
                "CREDIT_AUTH",
                "CREDIT_AUTH_REV"
              ]
            }
          },
          {
            "name": "cards",
            "in": "query",
            "description": "Activities with possibly multiple card IDs equal to this value. Only one of 'cards' or 'accounts' must be supplied",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "accounts",
            "in": "query",
            "description": "Activities with possibly multiple account IDs equal to this value. Only one of 'cards' or 'accounts' must be supplied",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "ids",
            "in": "query",
            "description": "Activities with the specified IDs. Only 'page' and/or 'size' may be used in conjunction with this filter.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "uniqueItems": true
            }
          },
          {
            "name": "orderId",
            "in": "query",
            "description": "Activites with specified Order Id",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "channelManagerId",
            "in": "query",
            "description": "Id of channel manager to return activities for",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortFields",
            "in": "query",
            "description": "A list of fields to sort the response by. Sorting will be applied in the order the fields are given",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "createdDate",
                "orderId"
              ]
            }
          },
          {
            "name": "sortOrders",
            "in": "query",
            "description": "A list of orders to apply to the respective sortFields. The only accepted sortOrders will be ASC and DESC (case insensitive)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "ASC",
                "DESC"
              ]
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page to fetch (0 indexed)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Size of page to fetch",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 500
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Card activity data returned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/channelmanager.CardActivityPageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/channelmanager.MessageResponse"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "HMAC": []
          },
          {
            "TOKEN": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "channelmanager.AuthInfo": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Transaction type",
            "minLength": 1
          },
          "inputMethod": {
            "type": "string",
            "description": "Input method",
            "minLength": 1
          }
        },
        "required": [
          "inputMethod",
          "type"
        ]
      },
      "channelmanager.CardActivityResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The card activity identifier. Maximum of 10 alphanumeric characters",
            "example": "X000000001"
          },
          "orderId": {
            "type": "string",
            "description": "Order identifier which links together related authorisations, reversals & settlements. Maximum of 10 alphanumeric characters",
            "example": "1234"
          },
          "cardId": {
            "type": "string",
            "description": "Card identifier. Maximum of 10 alphanumeric characters",
            "example": "V000000001"
          },
          "type": {
            "type": "string",
            "description": "Type of card activity",
            "enum": [
              "AUTHORISATION",
              "REVERSAL",
              "SETTLEMENT",
              "REFUND"
            ]
          },
          "status": {
            "type": "string",
            "description": "Status of card activity. Only applies to activities of type AUTHORISATION",
            "enum": [
              "DECLINED",
              "APPROVED",
              "SETTLED",
              "EXPIRED"
            ]
          },
          "reason": {
            "type": "string",
            "description": "The reason why this activity was declined. Only applies to activities with status DECLINED",
            "example": "Account has insufficient funds"
          },
          "verifiedBy3DS": {
            "type": "boolean",
            "description": "Whether the activity was 3DS enabled"
          },
          "createdDate": {
            "type": "string",
            "format": "date-time",
            "description": "The creation date of the card activity",
            "example": "2019-01-29T11:22:00+0000"
          },
          "transactionAmount": {
            "type": "number",
            "description": "The card activity transaction amount",
            "example": "123.45"
          },
          "transactionCurrency": {
            "type": "string",
            "description": "The 3 letter ISO 4217 card activity transaction currency",
            "example": "EUR"
          },
          "billingAmount": {
            "type": "number",
            "description": "The card activity billing amount",
            "example": "678.91"
          },
          "billingCurrency": {
            "type": "string",
            "description": "The 3 letter ISO 4217 card activity billing currency",
            "example": "GBP"
          },
          "fxRate": {
            "type": "number",
            "description": "The FX rate applied to any conversion between transaction & billing amount. Rounded to 6 decimal places and zero padded",
            "example": "1.123456"
          },
          "mcc": {
            "type": "string",
            "description": "The Merchant Category Code (MCC) for the card activity. Follows ISO-18245 format",
            "example": "5182"
          },
          "merchantName": {
            "type": "string",
            "description": "The merchant name",
            "example": "Loudons Cafe"
          },
          "merchantId": {
            "type": "string",
            "description": "The merchant ID",
            "example": "123456789012345"
          },
          "merchantCountry": {
            "type": "string",
            "description": "The 3 letter ISO 3166 merchant country code",
            "example": "GBR"
          },
          "acquirerReferenceNumber": {
            "type": "string",
            "description": "The Acquirer Reference Number (ARN)",
            "example": "123451234512345"
          },
          "authorisationInfo": {
            "$ref": "#/components/schemas/channelmanager.AuthInfo",
            "description": "Authorisation information of the activity"
          },
          "cardTokenId": {
            "type": "string",
            "description": "The card token associated with this activity, if a tokenised card was used."
          },
          "cardTokenDeviceId": {
            "type": "string",
            "description": "The bound card token device associated with this activity, if a tokenised card was used."
          }
        },
        "required": [
          "billingAmount",
          "billingCurrency",
          "cardId",
          "createdDate",
          "fxRate",
          "id",
          "mcc",
          "orderId",
          "transactionAmount",
          "transactionCurrency",
          "type"
        ]
      },
      "channelmanager.MessageResponse": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string"
          },
          "code": {
            "type": "string",
            "enum": [
              "GENERAL",
              "BUSINESSRULE",
              "MFASTATUS",
              "MFAERROR",
              "MFATIMEOUT",
              "MFADEVICEMM",
              "MFAMESSAGEINVALID",
              "NOTFOUND",
              "DUPLICATE",
              "INVALID",
              "CONNECTION",
              "RETRY",
              "RATELIMIT",
              "PERMISSION",
              "NOTACCEPTABLE",
              "MFAVERIFICATION",
              "TOKENEXPIRED"
            ]
          },
          "errorCode": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "sourceService": {
            "type": "string"
          }
        }
      },
      "channelmanager.CardActivityPageResponse": {
        "type": "object",
        "properties": {
          "content": {
            "type": "array",
            "description": "List of responses on the current page",
            "items": {
              "$ref": "#/components/schemas/channelmanager.CardActivityResponse"
            }
          },
          "size": {
            "type": "integer",
            "format": "int32",
            "description": "Page size"
          },
          "totalSize": {
            "type": "integer",
            "format": "int64",
            "description": "Total count"
          },
          "page": {
            "type": "integer",
            "format": "int32",
            "description": "Current page number, 0 based; i.e first-page = 0, second-page = 1"
          },
          "totalPages": {
            "type": "integer",
            "format": "int32",
            "description": "Total pages"
          }
        },
        "required": [
          "content",
          "page",
          "size",
          "totalPages",
          "totalSize"
        ]
      }
    },
    "securitySchemes": {
      "modulo_security": {
        "type": "apiKey",
        "name": "Authorization",
        "in": "header"
      },
      "TOKEN": {
        "type": "apiKey",
        "name": "Authorization",
        "in": "header"
      }
    }
  },
  "x-readme": {
    "proxy-enabled": false
  }
}