{
  "openapi": "3.1.0",
  "info": {
    "title": "Modulr API",
    "description": "Modulr API",
    "license": {
      "name": "© Modulr Finance",
      "url": "https://www.modulrfinance.com"
    },
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api-sandbox.modulrfinance.com/api-sandbox-token"
    }
  ],
  "security": [
    {
      "modulo_security": []
    }
  ],
  "tags": [
    {
      "name": "File Upload",
      "description": "Upload payment files"
    }
  ],
  "paths": {
    "/payment-files": {
      "get": {
        "tags": [
          "File Upload"
        ],
        "summary": "Get the latest status of multiple uploaded payment files",
        "description": "Get latest status of multiple uploaded payment files in a single paginated call. For a single file, use GET /payment-files/{fileId} instead.",
        "operationId": "get-payment-files-statuses",
        "parameters": [
          {
            "name": "fileIds",
            "in": "query",
            "description": "Payment File IDs (max 10)",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "maxItems": 10,
              "minItems": 0
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page to fetch (0 indexed)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "minimum": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Page size (max 500)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20,
              "exclusiveMinimum": 0,
              "maximum": 500
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated file statuses response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/paymentfileupload.FileUploadStatusesResponse"
                }
              }
            }
          },
          "400": {
            "description": "No fileIds provided, or more than 10 fileIds provided",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/paymentfileupload.MessageResponse"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "HMAC": []
          },
          {
            "TOKEN": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "paymentfileupload.MessageResponse": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string"
          },
          "code": {
            "type": "string",
            "enum": [
              "GENERAL",
              "BUSINESSRULE",
              "MFASTATUS",
              "MFAERROR",
              "MFATIMEOUT",
              "MFADEVICEMM",
              "MFAMESSAGEINVALID",
              "NOTFOUND",
              "DUPLICATE",
              "INVALID",
              "CONNECTION",
              "RETRY",
              "RATELIMIT",
              "PERMISSION",
              "NOTACCEPTABLE",
              "MFAVERIFICATION",
              "TOKENEXPIRED"
            ]
          },
          "errorCode": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "sourceService": {
            "type": "string"
          }
        }
      },
      "paymentfileupload.FileUploadStatusesResponse": {
        "type": "object",
        "description": "Paginated statuses response for multiple payment files",
        "properties": {
          "content": {
            "type": "array",
            "description": "Page content — one entry per requested fileId",
            "items": {
              "$ref": "#/components/schemas/paymentfileupload.FileUploadStatusResponse"
            }
          },
          "size": {
            "type": "integer",
            "format": "int32",
            "description": "Number of items in this page",
            "example": 2
          },
          "totalSize": {
            "type": "integer",
            "format": "int64",
            "description": "Total number of requested files",
            "example": 2
          },
          "page": {
            "type": "integer",
            "format": "int32",
            "description": "Current page number (0 indexed)",
            "example": 0
          },
          "totalPages": {
            "type": "integer",
            "format": "int32",
            "description": "Total number of pages",
            "example": 1
          }
        }
      },
      "paymentfileupload.FileUploadStatusResponse": {
        "type": "object",
        "description": "File upload Status Response",
        "properties": {
          "fileId": {
            "type": "string",
            "description": "Unique ID of the file. Only populated when returned as part of multi file",
            "example": "F1100001"
          },
          "status": {
            "type": "string",
            "description": "Status of the uploaded file",
            "enum": [
              "NEW",
              "SUBMITTED",
              "PROCESSING",
              "INVALID",
              "VALID",
              "DUPLICATE",
              "REJECTED",
              "ERROR_RETRYABLE",
              "ACCEPTED",
              "PROCESSED",
              "SENDING",
              "PAYMENT_PROCESSING",
              "SPLIT_FILE",
              "PARTIALLY_ACCEPTED"
            ],
            "example": "INVALID"
          },
          "fileName": {
            "type": "string",
            "description": "File name of the uploaded file",
            "example": "file1"
          },
          "numTransactions": {
            "type": "integer",
            "format": "int32",
            "deprecated": true,
            "description": "Total number of transactions within file",
            "example": 1000
          },
          "numberOfTransactions": {
            "type": "integer",
            "format": "int32",
            "description": "Total number of transactions within file",
            "example": 1000
          },
          "totalAmount": {
            "type": "number",
            "description": "Sum of all transaction's amount within file",
            "example": "1539.81"
          },
          "errors": {
            "type": "string",
            "description": "If invalid holds the validation errors",
            "example": [
              "Failed parsing"
            ]
          },
          "validationResults": {
            "type": "string",
            "description": "If invalid, holds the validation results",
            "example": [
              {
                "type": "HEADER",
                "lineNumber": 4,
                "errors": [
                  {
                    "type": "INVALID_CURRENCY_CODE",
                    "field": "currencyCode",
                    "invalidValue": "01"
                  }
                ]
              }
            ]
          }
        },
        "required": [
          "status"
        ]
      }
    },
    "securitySchemes": {
      "modulo_security": {
        "type": "apiKey",
        "name": "Authorization",
        "in": "header"
      },
      "TOKEN": {
        "type": "apiKey",
        "name": "Authorization",
        "in": "header"
      }
    }
  },
  "x-readme": {
    "proxy-enabled": false
  }
}