{
  "openapi": "3.0.2",
  "info": {
    "title": "Money Movement APIs",
    "version": "2026-08-26",
    "contact": {
      "email": "producteng@drivewealth.tech"
    }
  },
  "servers": [
    {
      "url": "https://bo-api.drivewealth.io/back-office",
      "description": "Sandbox (No Real World Financial/Trading Impact)"
    },
    {
      "url": "https://bo-api.drivewealth.net/back-office",
      "description": "Production"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "x-readme": {
    "explorer-enabled": false,
    "headers": [
      {
        "key": "dw-client-app-key",
        "value": "{{yourAppKey}}"
      }
    ]
  },
  "tags": [
    {
      "name": "Settlements"
    }
  ],
  "paths": {
    "/settlements": {
      "get": {
        "tags": [
          "Settlements"
        ],
        "summary": "List Bulk Funding Settlements",
        "description": "Retrieves a list of Bulk Funding Settlements.",
        "parameters": [
          {
            "in": "query",
            "name": "from",
            "schema": {
              "type": "string"
            },
            "required": true,
            "example": "2022-12-08",
            "description": "The date to start from."
          },
          {
            "in": "query",
            "name": "to",
            "schema": {
              "type": "string"
            },
            "required": true,
            "example": "2022-12-25",
            "description": "The date to end at."
          },
          {
            "in": "query",
            "name": "status",
            "schema": {
              "$ref": "#/components/schemas/singleSettlementStatus"
            },
            "required": false,
            "description": "Filters, the settlements by the status."
          },
          {
            "in": "query",
            "name": "settlementProfileID",
            "schema": {
              "$ref": "#/components/schemas/settlementProfileID"
            },
            "required": false,
            "description": "Filters, the settlements by the settlement profile."
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 200
            },
            "required": false,
            "description": "The number of items to return."
          },
          {
            "in": "query",
            "name": "offset",
            "schema": {
              "type": "string",
              "default": null
            },
            "required": false,
            "description": "Used for pagination. Set this to the first/last id value of your payload to get the prev/next page of results respectively."
          },
          {
            "in": "query",
            "name": "direction",
            "schema": {
              "type": "string",
              "enum": [
                "prev",
                "next"
              ]
            },
            "required": false,
            "description": "The direction of the pagination."
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieving a list of Bulk Funding Settlements was Successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleSettlementReports"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "accountID": {
        "type": "string",
        "example": "cc07f91b-7ee1-4868-b8fc-823c70a1b932.1407775317759",
        "description": "The user's unique account identifier."
      },
      "created": {
        "type": "string",
        "example": "2022-12-11T22:28:21.810Z",
        "description": ""
      },
      "updated": {
        "type": "string",
        "example": "2022-12-11T22:28:21.810Z",
        "description": ""
      },
      "parentIBID": {
        "type": "string",
        "example": "80f9b672-120d-4b73-9cc9-42fb3262c4b9",
        "description": "The unique identifier of the firm."
      },
      "date": {
        "type": "string",
        "example": "2022-12-25",
        "description": ""
      },
      "settlementProfileID": {
        "type": "string",
        "example": "settlement-profile-bank-account-1",
        "description": "A settlement profile identifier that links to a specific bank account for fund settlement."
      },
      "singleSettlementStatus": {
        "type": "string",
        "example": "PENDING",
        "description": "The current status of the settlement.",
        "enum": [
          "PENDING",
          "APPROVED",
          "SUCCESSFUL"
        ]
      },
      "singleSettlementID": {
        "type": "string",
        "example": "sett_63ccb073-a7b6-4b33-af77-5baec5cc4494_settle-profile-usa_20221224",
        "description": "A unique identifier that identifies the settlement."
      },
      "CashSettlementFields": {
        "type": "object",
        "properties": {
          "cashBalance": {
            "type": "number",
            "example": 25000.75,
            "description": "Cash balance in the partner's settlement account. Only present if the partner is enabled for automated settlements processing."
          },
          "cashSettlementAccountID": {
            "$ref": "#/components/schemas/accountID",
            "description": "Account ID of the cash settlement account tied to this settlement/reconciliation. Only present if the partner is enabled for automated settlements processing."
          },
          "cashSettlementAccountNo": {
            "type": "string",
            "example": "DW123456789",
            "description": "Account number of the cash settlement account. Only present if the partner is enabled for automated settlements processing."
          }
        }
      },
      "SingleSettlementDetails": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/CashSettlementFields"
          }
        ],
        "properties": {
          "id": {
            "$ref": "#/components/schemas/singleSettlementID"
          },
          "settlementDate": {
            "$ref": "#/components/schemas/date",
            "description": "The date for which the settlement was generated."
          },
          "partnerID": {
            "$ref": "#/components/schemas/parentIBID"
          },
          "status": {
            "$ref": "#/components/schemas/singleSettlementStatus"
          },
          "totalAmount": {
            "type": "number",
            "example": -14250,
            "description": "The total aggregated sum of all underlying accounts and transactions."
          },
          "createdAt": {
            "$ref": "#/components/schemas/created",
            "description": "The date and time the settlement was created."
          },
          "updatedAt": {
            "$ref": "#/components/schemas/updated",
            "description": "The date and time the settlement was last updated."
          },
          "settlementProfileID": {
            "$ref": "#/components/schemas/settlementProfileID"
          },
          "attestedAt": {
            "type": "string",
            "example": "2024-04-17T22:28:21.810Z",
            "description": "The date and time when the settlement report was attested."
          }
        }
      },
      "SingleSettlementReports": {
        "type": "object",
        "properties": {
          "pageSize": {
            "type": "integer",
            "example": 1,
            "description": "The amount of results on the page."
          },
          "limit": {
            "type": "integer",
            "example": 50,
            "description": "The maximum number of results per page."
          },
          "settlements": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/SingleSettlementDetails"
                }
              ]
            }
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}