{
  "openapi": "3.0.2",
  "info": {
    "title": "Account Management APIs",
    "version": "2026-08-26",
    "contact": {
      "email": "producteng@drivewealth.tech"
    }
  },
  "servers": [
    {
      "url": "https://bo-api.drivewealth.io/back-office",
      "description": "Sandbox (No Real World Financial/Trading Impact)"
    },
    {
      "url": "https://bo-api.drivewealth.net/back-office",
      "description": "Production"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "x-readme": {
    "explorer-enabled": false,
    "headers": [
      {
        "key": "dw-client-app-key",
        "value": "{{yourAppKey}}"
      }
    ]
  },
  "tags": [
    {
      "name": "Violations"
    }
  ],
  "paths": {
    "/accounts/{accountID}/violations": {
      "get": {
        "tags": [
          "Violations"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "accountID",
            "schema": {
              "$ref": "#/components/schemas/accountID"
            },
            "required": true
          }
        ],
        "summary": "List Account Violations",
        "description": "Retrives a list of Account Violations by accountID.",
        "responses": {
          "200": {
            "description": "Retrieving a list of Account Violations by accountID was Successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ViolationDetailsRes"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "orderID": {
        "type": "string",
        "example": "IC.0e352bb7-9869-4233-9861-9673544efedd",
        "description": "A unique DriveWealth order identifier created when an order is placed."
      },
      "orderNo": {
        "type": "string",
        "example": "ICDU023727",
        "description": "A unique, human-readable DriveWealth order number."
      },
      "accountID": {
        "type": "string",
        "example": "cc07f91b-7ee1-4868-b8fc-823c70a1b932.1407775317759",
        "description": "The user's unique account identifier."
      },
      "created": {
        "type": "string",
        "example": "2022-12-11T22:28:21.810Z",
        "description": ""
      },
      "instrumentSymbol": {
        "type": "string",
        "nullable": true,
        "example": "MS",
        "description": "The ticker symbol of the Instrument. Debt Instruments and Global Mutual Funds do not have symbols and are referred to buy their `instrumentID` or `ISIN`."
      },
      "instrumentID": {
        "type": "string",
        "format": "uuid",
        "example": "3fb1e8a9-f7d5-4d90-95e2-43e7326b5636",
        "description": "A unique ID created by DriveWealth to identify a specific instrument."
      },
      "sideAbbreviated": {
        "type": "string",
        "example": "B",
        "description": "The side of the order.",
        "enum": [
          "B",
          "S",
          "BUY_OPEN",
          "BUY_CLOSE",
          "SELL_OPEN",
          "SELL_CLOSE"
        ]
      },
      "orderQuantity": {
        "type": "number",
        "example": 0.7219,
        "description": "The amount of the instrument in shares."
      },
      "goodFaithViolations": {
        "type": "number",
        "example": 0,
        "description": "The total number of good faith violations."
      },
      "violationsObj": {
        "type": "object",
        "properties": {
          "goodFaithViolations": {
            "type": "object",
            "properties": {
              "count": {
                "$ref": "#/components/schemas/goodFaithViolations"
              }
            }
          },
          "patternDayTrades": {
            "type": "object",
            "deprecated": true,
            "properties": {
              "count": {
                "$ref": "#/components/schemas/patternDayTrades"
              }
            }
          },
          "details": {
            "type": "string",
            "example": "/back-office/accounts/b5421694-65c6-4e48-9f8f-d90596e2f471.1616427127842/violations",
            "description": "A string containing the direct path to the [violations API](https://developer.drivewealth.com/apis/reference/get_accounts-accountid-violations) for further detail"
          }
        }
      },
      "patternDayTradesObj": {
        "type": "object",
        "deprecated": true,
        "properties": {
          "id": {
            "$ref": "#/components/schemas/instrumentID"
          },
          "symbol": {
            "$ref": "#/components/schemas/instrumentSymbol"
          },
          "qty": {
            "$ref": "#/components/schemas/orderQuantity"
          },
          "amount": {
            "type": "number",
            "example": 100,
            "description": "The amount of shares being transacted."
          },
          "side": {
            "$ref": "#/components/schemas/sideAbbreviated"
          },
          "createdWhen": {
            "$ref": "#/components/schemas/created"
          },
          "orderID": {
            "$ref": "#/components/schemas/orderID"
          },
          "orderNo": {
            "$ref": "#/components/schemas/orderNo"
          },
          "violationSells": {
            "type": "array",
            "description": "An array which orders are in violation.",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/violationSells"
                }
              ]
            }
          },
          "legacyGoodFaithViolations": {
            "type": "number",
            "example": 0,
            "description": "NEEDS DESCRIPTION"
          },
          "message": {
            "type": "string",
            "example": "This transaction resulted in your third Pattern Day Trade.  Note that pending orders (such as limits) may trigger a 4th Pattern Day Trade.  If you have 4 or more day trades in a 5 day period, your account will be designated as a Pattern Day Trader and must maintain equity of at least $25,000.  Failure to do so will put your account on 90-Restriction. You will receive an email notification with more details.",
            "description": "A description of the violation."
          }
        }
      },
      "accountEquityBreakdownObj": {
        "type": "object",
        "properties": {
          "longMarketValue": {
            "type": "number",
            "example": 30000,
            "description": "The current long market value."
          },
          "debitBalance": {
            "type": "number",
            "example": 2000,
            "description": "The current debit balance."
          },
          "accountEquity": {
            "type": "number",
            "example": 28000,
            "description": "The current total account equity (longMarketValue - debitBalance)."
          }
        }
      },
      "violationSells": {
        "type": "object",
        "properties": {
          "qty": {
            "$ref": "#/components/schemas/orderQuantity"
          },
          "amount": {
            "type": "number",
            "example": 20,
            "description": "The amount of shares being transacted."
          },
          "createdWhen": {
            "$ref": "#/components/schemas/created"
          },
          "orderID": {
            "$ref": "#/components/schemas/orderID"
          },
          "orderNo": {
            "$ref": "#/components/schemas/orderNo"
          },
          "side": {
            "$ref": "#/components/schemas/sideAbbreviated"
          }
        }
      },
      "ViolationDetailsRes": {
        "type": "object",
        "properties": {
          "goodFaithViolations": {
            "$ref": "#/components/schemas/violationsObj/properties/goodFaithViolations"
          },
          "patternDayTrades": {
            "type": "array",
            "description": "An array of pattern day trade violations.",
            "deprecated": true,
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/patternDayTradesObj"
                }
              ]
            }
          },
          "accountEquityBreakdown": {
            "$ref": "#/components/schemas/accountEquityBreakdownObj"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}