{
  "openapi": "3.0.2",
  "info": {
    "title": "Advisor APIs",
    "version": "2026-08-26",
    "contact": {
      "email": "producteng@drivewealth.tech"
    }
  },
  "servers": [
    {
      "url": "https://bo-api.drivewealth.io/back-office",
      "description": "Sandbox (No Real World Financial/Trading Impact)"
    },
    {
      "url": "https://bo-api.drivewealth.net/back-office",
      "description": "Production"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "x-readme": {
    "explorer-enabled": false,
    "headers": [
      {
        "key": "dw-client-app-key",
        "value": "{{yourAppKey}}"
      }
    ]
  },
  "tags": [
    {
      "name": "Advisor Reports"
    }
  ],
  "paths": {
    "/users/{userID}/managed/orders/summary": {
      "get": {
        "tags": [
          "Advisor Reports"
        ],
        "summary": "List Orders by Advisor",
        "description": "Fetches a User's sub account orders allocations summary by date.",
        "parameters": [
          {
            "in": "path",
            "name": "userID",
            "schema": {
              "$ref": "#/components/schemas/userID"
            },
            "required": true,
            "example": "cc07f91b-7ee1-4868-b8fc-823c70a1b932",
            "description": "The User's unique identifier."
          },
          {
            "in": "query",
            "name": "date",
            "schema": {
              "type": "string"
            },
            "required": false,
            "example": "2022-12-25",
            "description": "The specific request date in format YYYY-MM-DD."
          }
        ],
        "responses": {
          "200": {
            "description": "Fetching A User's Sub Account Orders Allocations Summary By Date was Successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrdersAllocationSummary"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "userID": {
        "type": "string",
        "example": "cc07f91b-7ee1-4868-b8fc-823c70a1b932",
        "description": "A unique identifier created for each User on DriveWealth's platform."
      },
      "orderID": {
        "type": "string",
        "example": "IC.0e352bb7-9869-4233-9861-9673544efedd",
        "description": "A unique DriveWealth order identifier created when an order is placed."
      },
      "orderNo": {
        "type": "string",
        "example": "ICDU023727",
        "description": "A unique, human-readable DriveWealth order number."
      },
      "orderStatus": {
        "type": "string",
        "example": "FILLED",
        "description": "The current status of the order.",
        "enum": [
          "NEW",
          "FILLED",
          "PARTIAL_FILL",
          "PENDING_CANCEL",
          "CANCELED",
          "REJECTED"
        ]
      },
      "orderTypes": {
        "type": "string",
        "example": "MARKET",
        "description": "The type of the Order.",
        "enum": [
          "MARKET",
          "LIMIT",
          "STOP",
          "STOP_LIMIT",
          "MARKET_IF_TOUCHED"
        ]
      },
      "accountNo": {
        "type": "string",
        "example": "DWBG000052",
        "description": "The user's unique account number, that is human readable."
      },
      "instrumentSymbol": {
        "type": "string",
        "nullable": true,
        "example": "MS",
        "description": "The ticker symbol of the Instrument. Debt Instruments and Global Mutual Funds do not have symbols and are referred to buy their `instrumentID` or `ISIN`."
      },
      "instrumentID": {
        "type": "string",
        "format": "uuid",
        "example": "3fb1e8a9-f7d5-4d90-95e2-43e7326b5636",
        "description": "A unique ID created by DriveWealth to identify a specific instrument."
      },
      "allocationID": {
        "type": "string",
        "example": "JF.allocation.TendiesTradingCo.e61f512a-ed9c-4047-9ccf-224a5864158d",
        "description": "The unique identifier that identifies the lot of the allocation."
      },
      "allocationStatus": {
        "type": "string",
        "example": "NEW",
        "description": "The current status of the lot of allocation.",
        "enum": [
          "NEW",
          "ACCEPTED",
          "PART_COMPLETE",
          "COMPLETED",
          "REJECTED"
        ]
      },
      "sideAbbreviated": {
        "type": "string",
        "example": "B",
        "description": "The side of the order.",
        "enum": [
          "B",
          "S",
          "BUY_OPEN",
          "BUY_CLOSE",
          "SELL_OPEN",
          "SELL_CLOSE"
        ]
      },
      "orderAveragePrice": {
        "type": "number",
        "example": 1038.81,
        "description": "The average price of the security being transacted in the order."
      },
      "orderQuantity": {
        "type": "number",
        "example": 0.7219,
        "description": "The amount of the instrument in shares."
      },
      "orderCumulativeQuantity": {
        "type": "number",
        "example": 0.7219,
        "description": "The amount of shares currently being transacted; larger orders may execute in chunks."
      },
      "allocatedQuantity": {
        "type": "number",
        "example": 0.7219,
        "description": "The amount of allocated shares."
      },
      "unallocatedNotional": {
        "type": "number",
        "example": 5320,
        "description": "The notional value of the shares that have not been allocated to sub accounts."
      },
      "unallocatedQuantity": {
        "type": "number",
        "example": 302,
        "description": "The remaining amount of shares that have not been allocated to the sub accounts."
      },
      "allocationsRequested": {
        "type": "number",
        "example": 500,
        "description": "The amount of sub account allocations passed to the system.",
        "minimum": 1,
        "maximum": 10000
      },
      "allocationsCompleted": {
        "type": "number",
        "example": 25,
        "description": "The amount of completed sub account allocations.",
        "minimum": 1,
        "maximum": 10000
      },
      "allocationUrl": {
        "type": "string",
        "example": "/back-office/managed/allocations/JF.TENDIESTRADINGCO_20221225_120000_MOD_AUTO_LIQUIDATE",
        "description": "A specific URL that contains the full break down of the allocation."
      },
      "OrderAllocations": {
        "type": "object",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/allocationID"
          },
          "url": {
            "$ref": "#/components/schemas/allocationUrl"
          },
          "created": {
            "type": "string",
            "example": "2022-12-22T16:04:46.724Z",
            "description": "The date and time of the allocation creation."
          },
          "status": {
            "$ref": "#/components/schemas/allocationStatus"
          },
          "allocationsRequested": {
            "$ref": "#/components/schemas/allocationsRequested"
          },
          "allocationsCompleted": {
            "$ref": "#/components/schemas/allocationsCompleted"
          },
          "unallocatedQuantity": {
            "$ref": "#/components/schemas/unallocatedQuantity"
          },
          "unallocatedNotional": {
            "$ref": "#/components/schemas/unallocatedNotional"
          },
          "comment": {
            "type": "string",
            "example": "All allocated and accounted for. 1::1::0 client note[empty], . timeMs=667 ratePerSec=1.50 msPerItem=667.00",
            "description": "A custom comment generated by DriveWealth."
          }
        }
      },
      "OrdersAllocationSummary": {
        "type": "object",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/allocationID"
          },
          "accountNo": {
            "$ref": "#/components/schemas/accountNo"
          },
          "date": {
            "type": "string",
            "example": "2022-12-25",
            "description": "The specific date requested in the inbound API request."
          },
          "orders": {
            "type": "array",
            "description": "A list of order and allocations.",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/OrdersAllocationsSummary"
                }
              ]
            }
          }
        }
      },
      "OrdersAllocationsSummary": {
        "type": "object",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/orderID"
          },
          "orderNo": {
            "$ref": "#/components/schemas/orderNo"
          },
          "type": {
            "$ref": "#/components/schemas/orderTypes"
          },
          "status": {
            "$ref": "#/components/schemas/orderStatus"
          },
          "created": {
            "type": "string",
            "example": "2022-12-11T22:28:21.810Z",
            "description": "The date and time the order was created."
          },
          "instrument": {
            "type": "object",
            "properties": {
              "id": {
                "$ref": "#/components/schemas/instrumentID"
              },
              "symbol": {
                "$ref": "#/components/schemas/instrumentSymbol"
              }
            }
          },
          "side": {
            "$ref": "#/components/schemas/sideAbbreviated"
          },
          "averagePrice": {
            "$ref": "#/components/schemas/orderAveragePrice"
          },
          "orderQuantity": {
            "$ref": "#/components/schemas/orderQuantity"
          },
          "cumulativeQuantity": {
            "$ref": "#/components/schemas/orderCumulativeQuantity"
          },
          "allocatedQuantity": {
            "$ref": "#/components/schemas/allocatedQuantity"
          },
          "unallocatedQuantity": {
            "$ref": "#/components/schemas/unallocatedQuantity"
          },
          "unallocatedNotional": {
            "$ref": "#/components/schemas/unallocatedNotional"
          },
          "allocations": {
            "type": "array",
            "description": "A list of sub account allocations.",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/OrderAllocations"
                }
              ]
            }
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}