{
  "openapi": "3.0.2",
  "info": {
    "title": "Core APIs",
    "version": "2026-08-25",
    "contact": {
      "email": "producteng@drivewealth.tech"
    }
  },
  "servers": [
    {
      "url": "https://bo-api.drivewealth.io/back-office",
      "description": "Sandbox (No Real World Financial/Trading Impact)"
    },
    {
      "url": "https://bo-api.drivewealth.net/back-office",
      "description": "Production"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "x-readme": {
    "explorer-enabled": false,
    "headers": [
      {
        "key": "dw-client-app-key",
        "value": "{{yourAppKey}}"
      }
    ]
  },
  "tags": [
    {
      "name": "Orders"
    }
  ],
  "paths": {
    "/accounts/{accountID}/summary/orders": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "List Account resting Orders",
        "description": "Retrives a list of Account Orders by accountID. The orders returned will all be currently pending Orders that are awaiting a fill or cancellation.",
        "parameters": [
          {
            "in": "path",
            "name": "accountID",
            "schema": {
              "$ref": "#/components/schemas/accountID"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieving a list of Account Orders was Successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PendingOrders"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "orderID": {
        "type": "string",
        "example": "IC.0e352bb7-9869-4233-9861-9673544efedd",
        "description": "A unique DriveWealth order identifier created when an order is placed."
      },
      "orderNo": {
        "type": "string",
        "example": "ICDU023727",
        "description": "A unique, human-readable DriveWealth order number."
      },
      "accountID": {
        "type": "string",
        "example": "cc07f91b-7ee1-4868-b8fc-823c70a1b932.1407775317759",
        "description": "The user's unique account identifier."
      },
      "accountNo": {
        "type": "string",
        "example": "DWBG000052",
        "description": "The user's unique account number, that is human readable."
      },
      "tradingType": {
        "type": "string",
        "example": "CASH",
        "description": "The type of trading the account will participate in.",
        "enum": [
          "CASH",
          "MARGIN"
        ]
      },
      "created": {
        "type": "string",
        "example": "2022-12-11T22:28:21.810Z",
        "description": ""
      },
      "instrumentSymbol": {
        "type": "string",
        "nullable": true,
        "example": "MS",
        "description": "The ticker symbol of the Instrument. Debt Instruments and Global Mutual Funds do not have symbols and are referred to buy their `instrumentID` or `ISIN`."
      },
      "instrumentISIN": {
        "description": "An `International Securities Identification Number` (ISIN) uniquely identifies a security. Its structure is defined in ISO 6166. ISINs are commonly used when an Instrument does not have a `symbol`, such as Debt Instruments and Global Mutual Funds.",
        "type": "string",
        "minLength": 12,
        "maxLength": 14,
        "example": "US023135BX34"
      },
      "instrumentType": {
        "type": "string",
        "example": "EQUITY",
        "description": "The classification of the instrument.",
        "enum": [
          "EQUITY",
          "ALTERNATIVE_ASSET",
          "MUTUAL_FUND",
          "DEBT",
          "OPTION",
          "CRYPTO"
        ]
      },
      "currency": {
        "type": "string",
        "example": "USD",
        "description": "The name of the currency in abbreviation form.",
        "enum": [
          "USD"
        ]
      },
      "sideAbbreviated": {
        "type": "string",
        "example": "B",
        "description": "The side of the order.",
        "enum": [
          "B",
          "S",
          "BUY_OPEN",
          "BUY_CLOSE",
          "SELL_OPEN",
          "SELL_CLOSE"
        ]
      },
      "orderQuantity": {
        "type": "number",
        "example": 0.7219,
        "description": "The amount of the instrument in shares."
      },
      "orderCumulativeQuantity": {
        "type": "number",
        "example": 0.7219,
        "description": "The amount of shares currently being transacted; larger orders may execute in chunks."
      },
      "PendingOrders": {
        "type": "object",
        "description": "A list of pending orders.",
        "properties": {
          "accountID": {
            "$ref": "#/components/schemas/accountID"
          },
          "accountNo": {
            "$ref": "#/components/schemas/accountNo"
          },
          "tradingType": {
            "$ref": "#/components/schemas/tradingType"
          },
          "updated": {
            "type": "string",
            "example": "2021-04-23T18:41:32.440Z",
            "description": "The time of the last update to the Pending Orders Object."
          },
          "orders": {
            "type": "array",
            "description": "An array that holds a list of currently pending orders.",
            "items": {
              "oneOf": [
                {
                  "type": "object",
                  "properties": {
                    "orderID": {
                      "$ref": "#/components/schemas/orderID"
                    },
                    "orderNo": {
                      "$ref": "#/components/schemas/orderNo"
                    },
                    "createdWhen": {
                      "$ref": "#/components/schemas/created"
                    },
                    "symbol": {
                      "$ref": "#/components/schemas/instrumentSymbol"
                    },
                    "cumQty": {
                      "$ref": "#/components/schemas/orderCumulativeQuantity"
                    },
                    "orderStatus": {
                      "type": "string",
                      "example": "2",
                      "description": "The current status of the order.",
                      "enum": [
                        "0",
                        "1",
                        "2",
                        "3",
                        "4",
                        "6",
                        "7",
                        "8",
                        "9",
                        "A",
                        "B",
                        "C"
                      ]
                    },
                    "orderType": {
                      "type": "string",
                      "example": "1",
                      "description": "The type of order that is placed.",
                      "enum": [
                        "0",
                        "1",
                        "2",
                        "3",
                        "4",
                        "6",
                        "7",
                        "m"
                      ]
                    },
                    "orderQty": {
                      "$ref": "#/components/schemas/orderQuantity"
                    },
                    "isoTimeRestingOrderExpires": {
                      "type": "string",
                      "example": null,
                      "description": "The time when the limit order expires."
                    },
                    "limitPrice": {
                      "type": "number",
                      "example": null,
                      "description": "The price set for the limit order."
                    },
                    "side": {
                      "$ref": "#/components/schemas/sideAbbreviated"
                    },
                    "orderCashAmt": {
                      "type": "number",
                      "example": null,
                      "description": "The amount of cash requested for an order (fractional shares only)."
                    },
                    "stopPrice": {
                      "type": "number",
                      "example": 200,
                      "description": "The stop price of a limit order."
                    },
                    "ISIN": {
                      "$ref": "#/components/schemas/instrumentISIN"
                    },
                    "salesCredit": {
                      "$ref": "#/components/schemas/SalesCredit"
                    },
                    "instrumentType": {
                      "$ref": "#/components/schemas/instrumentType"
                    }
                  }
                }
              ]
            }
          }
        }
      },
      "SalesCredit": {
        "type": "object",
        "description": "If set, the unit price will be marked up or marked down based on the prescribed amount. Only applicable to Orders for Debt Instruments.",
        "properties": {
          "currency": {
            "$ref": "#/components/schemas/currency"
          },
          "amount": {
            "type": "integer",
            "example": 14,
            "description": "The sales credit amount in cents."
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}