{
  "openapi": "3.1.0",
  "info": {
    "title": "Modulr API",
    "description": "Modulr API",
    "license": {
      "name": "© Modulr Finance",
      "url": "https://www.modulrfinance.com"
    },
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api-sandbox.modulrfinance.com/api-sandbox-token"
    }
  ],
  "security": [
    {
      "modulo_security": []
    }
  ],
  "tags": [
    {
      "name": "Accounts",
      "description": "Operations on Accounts"
    }
  ],
  "paths": {
    "/customers/{customerId}/accounts": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get accounts by customer",
        "description": "Get details of accounts belonging to a particular customer using the customer’s ID as a reference",
        "operationId": "getAccountsByCustomer",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "ID of customer to fetch accounts for",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customerStatuses",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "$ref": "#/components/schemas/account.customerStatuses"
            }
          },
          {
            "name": "statuses",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "$ref": "#/components/schemas/account.statuses"
            }
          },
          {
            "name": "minBalance",
            "in": "query",
            "description": "Accounts with balance equal or more than this amount",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "number",
              "description": "Accounts with balance equal or more than this amount",
              "minimum": 0
            }
          },
          {
            "name": "maxBalance",
            "in": "query",
            "description": "Accounts with balance equal or less than this amount",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "number",
              "description": "Accounts with balance equal or less than this amount",
              "minimum": 0.01
            }
          },
          {
            "name": "fromCreatedDate",
            "in": "query",
            "description": "Accounts created after and on this date. Format is 'yyyy-MM-dd'T'HH:mm:ssZ' where Z is UTC offset. e.g 2017-01-28T01:01:01+0000",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "description": "Accounts created after and on this date. Format is 'yyyy-MM-dd'T'HH:mm:ssZ' where Z is UTC offset. e.g 2017-01-28T01:01:01+0000",
              "example": "2017-01-28T01:01:01+0000"
            },
            "example": "2017-01-28T01:01:01+0000"
          },
          {
            "name": "toCreatedDate",
            "in": "query",
            "description": "Accounts created before and on this date. Format is 'yyyy-MM-dd'T'HH:mm:ssZ' where Z is UTC offset. e.g 2017-01-28T01:01:01+0000",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "description": "Accounts created before and on this date. Format is 'yyyy-MM-dd'T'HH:mm:ssZ' where Z is UTC offset. e.g 2017-01-28T01:01:01+0000",
              "example": "2017-01-28T01:01:01+0000"
            },
            "example": "2017-01-28T01:01:01+0000"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page to fetch (0 indexed)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "description": "Page to fetch (0 indexed)"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Size of Page to fetch",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "description": "Size of Page to fetch",
              "maximum": 500
            }
          },
          {
            "name": "sortField",
            "in": "query",
            "description": "Sort by field",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "description": "Sort by field",
              "pattern": "(id|name|balance|externalReference|createdDate)"
            }
          },
          {
            "name": "sortOrder",
            "in": "query",
            "description": "Sorting order",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "description": "Sorting order",
              "pattern": "(asc|desc)"
            }
          },
          {
            "name": "currency",
            "in": "query",
            "description": "The currency for getting account by currency. Expected ISO Standard currency name i.e. GBP, EUR etc",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "description": "The currency for getting account by currency. Expected ISO Standard currency name i.e. GBP, EUR etc",
              "enum": [
                "GBP",
                "EUR",
                "AED",
                "AFN",
                "ALL",
                "AMD",
                "ANG",
                "AOA",
                "ARS",
                "AUD",
                "AWG",
                "AZN",
                "BAM",
                "BBD",
                "BDT",
                "BGN",
                "BHD",
                "BIF",
                "BMD",
                "BND",
                "BOB",
                "BOV",
                "BRL",
                "BSD",
                "BTN",
                "BWP",
                "BYN",
                "BZD",
                "CAD",
                "CDF",
                "CHE",
                "CHF",
                "CHW",
                "CLF",
                "CLP",
                "CNY",
                "COP",
                "COU",
                "CRC",
                "CUC",
                "CUP",
                "CVE",
                "CZK",
                "DJF",
                "DKK",
                "DOP",
                "DZD",
                "EGP",
                "ERN",
                "ETB",
                "FJD",
                "FKP",
                "GEL",
                "GHS",
                "GIP",
                "GMD",
                "GNF",
                "GTQ",
                "GYD",
                "HKD",
                "HNL",
                "HRK",
                "HTG",
                "HUF",
                "IDR",
                "ILS",
                "INR",
                "IQD",
                "IRR",
                "ISK",
                "JMD",
                "JOD",
                "JPY",
                "KES",
                "KGS",
                "KHR",
                "KMF",
                "KPW",
                "KRW",
                "KWD",
                "KYD",
                "KZT",
                "LAK",
                "LBP",
                "LKR",
                "LRD",
                "LSL",
                "LYD",
                "MAD",
                "MDL",
                "MGA",
                "MKD",
                "MMK",
                "MNT",
                "MOP",
                "MRU",
                "MUR",
                "MVR",
                "MWK",
                "MXN",
                "MXV",
                "MYR",
                "MZN",
                "NAD",
                "NGN",
                "NIO",
                "NOK",
                "NPR",
                "NZD",
                "OMR",
                "PAB",
                "PEN",
                "PGK",
                "PHP",
                "PKR",
                "PLN",
                "PYG",
                "QAR",
                "RON",
                "RSD",
                "RUB",
                "RWF",
                "SAR",
                "SBD",
                "SCR",
                "SDG",
                "SEK",
                "SGD",
                "SLE",
                "SLL",
                "SOS",
                "SRD",
                "SSP",
                "STN",
                "SVC",
                "SYP",
                "SZL",
                "SHP",
                "THB",
                "TJS",
                "TMT",
                "TND",
                "TOP",
                "TRY",
                "TTD",
                "TWD",
                "TZS",
                "UAH",
                "UGX",
                "USD",
                "USN",
                "UYI",
                "UYU",
                "UYW",
                "UZS",
                "VES",
                "VND",
                "VUV",
                "WST",
                "XAF",
                "XAG",
                "XAU",
                "XBA",
                "XBB",
                "XBC",
                "XBD",
                "XCD",
                "XDR",
                "XOF",
                "XPD",
                "XPF",
                "XPT",
                "XSU",
                "XTS",
                "XUA",
                "XXX",
                "YER",
                "ZAR",
                "ZMW",
                "ZWL"
              ],
              "example": "GBP"
            },
            "example": "GBP"
          },
          {
            "name": "showAvailableBalance",
            "in": "query",
            "description": "Show available balance",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "description": "Show available balance"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/account.AccountPageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/account.MessageResponse"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "HMAC": []
          },
          {
            "TOKEN": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "account.IdentifierResponse": {
        "type": "object",
        "description": "Account Identifier",
        "properties": {
          "type": {
            "type": "string"
          },
          "accountNumber": {
            "type": "string",
            "description": "Bank account Sort Code",
            "example": "12345678"
          },
          "accountType": {
            "type": "string",
            "description": "Bank account type like PERSONAL/BUSINESS",
            "enum": [
              "PERSONAL",
              "BUSINESS"
            ]
          },
          "sortCode": {
            "type": "string",
            "description": "Bank account Sort Code",
            "example": "000000"
          },
          "iban": {
            "type": "string",
            "example": "GB20MODR04001401100000"
          },
          "bic": {
            "type": "string",
            "example": "MODRGB21"
          },
          "currency": {
            "type": "string",
            "example": "GBP"
          },
          "countrySpecificDetails": {
            "$ref": "#/components/schemas/account.IdentifierCountrySpecificDetailsResponse",
            "example": {
              "branchCode": "123456789"
            }
          },
          "productId": {
            "type": "string",
            "example": "O2100001"
          }
        }
      },
      "account.AccountPageResponse": {
        "type": "object",
        "properties": {
          "content": {
            "type": "array",
            "description": "List of responses on the current page",
            "items": {
              "$ref": "#/components/schemas/account.AccountResponse"
            }
          },
          "size": {
            "type": "integer",
            "format": "int32",
            "description": "Page size"
          },
          "totalSize": {
            "type": "integer",
            "format": "int64",
            "description": "Total count"
          },
          "page": {
            "type": "integer",
            "format": "int32",
            "description": "Current page number, 0 based; i.e first-page = 0, second-page = 1"
          },
          "totalPages": {
            "type": "integer",
            "format": "int32",
            "description": "Total pages"
          }
        }
      },
      "account.statuses": {
        "type": "array",
        "items": {
          "type": "string",
          "default": "ACTIVE",
          "description": "Account statuses",
          "enum": [
            "ACTIVE",
            "BLOCKED",
            "CLOSED",
            "CLIENT_BLOCKED"
          ]
        }
      },
      "account.MessageResponse": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string"
          },
          "code": {
            "type": "string",
            "enum": [
              "GENERAL",
              "BUSINESSRULE",
              "MFASTATUS",
              "MFAERROR",
              "MFATIMEOUT",
              "MFADEVICEMM",
              "MFAMESSAGEINVALID",
              "NOTFOUND",
              "DUPLICATE",
              "INVALID",
              "CONNECTION",
              "RETRY",
              "RATELIMIT",
              "PERMISSION",
              "NOTACCEPTABLE",
              "MFAVERIFICATION",
              "TOKENEXPIRED"
            ]
          },
          "errorCode": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "sourceService": {
            "type": "string"
          }
        }
      },
      "account.customerStatuses": {
        "type": "array",
        "items": {
          "type": "string",
          "default": "ACTIVE",
          "description": "Customer statuses",
          "enum": [
            "ACTIVE",
            "CLOSED",
            "BLOCKED"
          ]
        }
      },
      "account.IdentifierCountrySpecificDetailsResponse": {
        "type": "object",
        "properties": {
          "bankName": {
            "type": "string",
            "description": "The name of the destination bank.",
            "example": "Apple Bank"
          },
          "bankAddress": {
            "type": "string",
            "description": "The address of the destination bank.",
            "example": "2100 Broadway"
          },
          "bankCity": {
            "type": "string",
            "description": "The city in which the destination bank resides.",
            "example": "New York City"
          },
          "bankBranchName": {
            "type": "string",
            "description": "The name of the destination bank's branch.",
            "example": "New York"
          },
          "bankBranchCode": {
            "type": "string",
            "description": "The code of the destination bank's branch.",
            "example": "44-04"
          },
          "bankCode": {
            "type": "string",
            "description": "The code identifying the target bank on its respective national network. This is not the BIC/SWIFT code. This is known as the 'ABA code' in the U.S., 'ISFC' in India, 'routing number' in Canada, and so on."
          },
          "chineseId": {
            "type": "string",
            "description": "The 18 digit identification code of the beneficiary. Applies to Chinese beneficiaries only.",
            "example": "01101201901018889"
          },
          "province": {
            "type": "string",
            "description": "The province in which the beneficiary resides. Applies only to beneficiaries residing in China.",
            "example": "Zhejiang"
          },
          "business": {
            "type": "boolean",
            "description": "The type of the beneficiary. 'true' for businesses, 'false' otherwise.",
            "example": true
          },
          "bankCodeType": {
            "type": "string",
            "description": "The code type identifying the target bank on its respective national network.\nThis is known as the 'ABA code' in the U.S., 'ISFC' in India, 'routing number' in Canada, and so on.",
            "enum": [
              "ABA",
              "CHIPS"
            ],
            "example": "ABA"
          },
          "bankCountry": {
            "type": "string",
            "description": "The country in which the destination bank resides.",
            "enum": [
              "AT",
              "BE",
              "BG",
              "CY",
              "CZ",
              "DK",
              "EE",
              "FI",
              "FR",
              "DE",
              "GR",
              "HR",
              "HU",
              "IS",
              "IE",
              "IT",
              "LV",
              "LI",
              "LT",
              "LU",
              "MT",
              "NL",
              "NO",
              "PL",
              "PT",
              "RO",
              "SK",
              "SI",
              "ES",
              "SE",
              "GB",
              "MQ",
              "YT",
              "GP",
              "GF",
              "RE",
              "MF",
              "GI",
              "GG",
              "IM",
              "JE",
              "MC",
              "CH",
              "AD",
              "SM",
              "VA",
              "AX",
              "PM",
              "BL",
              "AL",
              "MD",
              "ME",
              "MK",
              "RS",
              "AF",
              "DZ",
              "AS",
              "AO",
              "AI",
              "AQ",
              "AG",
              "AR",
              "AM",
              "AW",
              "AU",
              "AZ",
              "BS",
              "BH",
              "BD",
              "BB",
              "BY",
              "BZ",
              "BJ",
              "BM",
              "BT",
              "BO",
              "BQ",
              "BA",
              "BW",
              "BV",
              "BR",
              "IO",
              "VG",
              "BN",
              "BF",
              "BI",
              "KH",
              "CM",
              "CA",
              "CV",
              "KY",
              "CF",
              "TD",
              "CL",
              "CN",
              "CX",
              "CC",
              "CO",
              "KM",
              "CK",
              "CR",
              "CU",
              "CW",
              "CD",
              "DJ",
              "DM",
              "DO",
              "TL",
              "EC",
              "EG",
              "SV",
              "GQ",
              "ER",
              "SZ",
              "ET",
              "FK",
              "FO",
              "FJ",
              "PF",
              "TF",
              "GA",
              "GM",
              "GE",
              "GH",
              "GL",
              "GD",
              "GU",
              "GT",
              "GN",
              "GW",
              "GY",
              "HT",
              "HM",
              "HN",
              "HK",
              "IN",
              "ID",
              "IR",
              "IQ",
              "IL",
              "CI",
              "JM",
              "JP",
              "JO",
              "KZ",
              "KE",
              "KI",
              "XK",
              "KW",
              "KG",
              "LA",
              "LB",
              "LS",
              "LR",
              "LY",
              "MO",
              "MG",
              "MW",
              "MY",
              "MV",
              "ML",
              "MH",
              "MR",
              "MU",
              "MX",
              "FM",
              "MN",
              "MS",
              "MA",
              "MZ",
              "MM",
              "NA",
              "NR",
              "NP",
              "AN",
              "NC",
              "NZ",
              "NI",
              "NE",
              "NG",
              "NU",
              "NF",
              "KP",
              "MP",
              "OM",
              "PK",
              "PW",
              "PS",
              "PA",
              "PG",
              "PY",
              "PE",
              "PH",
              "PN",
              "PR",
              "QA",
              "CG",
              "RU",
              "RW",
              "SH",
              "KN",
              "LC",
              "VC",
              "WS",
              "ST",
              "SA",
              "SN",
              "SC",
              "SL",
              "SG",
              "SX",
              "SB",
              "SO",
              "ZA",
              "KR",
              "GS",
              "SS",
              "LK",
              "SD",
              "SR",
              "SY",
              "SJ",
              "TW",
              "TJ",
              "TZ",
              "TH",
              "TG",
              "TK",
              "TO",
              "TT",
              "TN",
              "TR",
              "TM",
              "TC",
              "TV",
              "UG",
              "UA",
              "AE",
              "UM",
              "US",
              "UY",
              "UZ",
              "VU",
              "VE",
              "VN",
              "VI",
              "WF",
              "EH",
              "YE",
              "ZM",
              "ZW"
            ],
            "example": "US"
          },
          "abaRoutingNumber": {
            "type": "string",
            "description": "The 9 digit identification code of the beneficiary. Applies to US beneficiaries only.",
            "example": "123456789"
          }
        }
      },
      "account.AccountResponse": {
        "type": "object",
        "description": "Account",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique id for the account",
            "example": "A0000001"
          },
          "name": {
            "type": "string",
            "description": "Name for the account"
          },
          "balance": {
            "type": "string",
            "description": "Balance of the account in format 'NN.NN'",
            "example": "10000.00"
          },
          "availableBalance": {
            "type": "string",
            "description": "The current available balance of the Account. Calculated by subtracting any pending payments from the current balance",
            "example": "10000.00"
          },
          "currency": {
            "type": "string",
            "description": "Currency of the account in ISO 4217 format",
            "example": "GBP"
          },
          "status": {
            "type": "string",
            "description": "Status of the account. Accounts must be 'ACTIVE' to make and receive payments. Can be one of ",
            "example": "ACTIVE"
          },
          "identifiers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/account.IdentifierResponse"
            }
          },
          "customerId": {
            "type": "string",
            "description": "Unique id of the Customer",
            "example": "C0000001"
          },
          "customerName": {
            "type": "string",
            "description": "Customer Name"
          },
          "externalReference": {
            "type": "string",
            "description": "Your reference for an account",
            "example": "aReference_00001"
          },
          "accessGroups": {
            "type": "array",
            "description": "Ids of Access Groups this account belongs to",
            "items": {
              "type": "string"
            }
          },
          "createdDate": {
            "type": "string",
            "format": "date-time",
            "description": "Datetime when the account was created. Format is 'yyyy-MM-dd'T'HH:mm:ssZ' where Z is UTC offset. e.g 2017-01-28T01:01:01+0000",
            "example": "2017-01-28T01:01:01+0000"
          },
          "directDebit": {
            "type": "boolean",
            "description": "Direct Debit Enabled"
          },
          "securedFundingLimit": {
            "type": "string",
            "description": "Limit of funds available below a balance of zero"
          }
        }
      }
    },
    "securitySchemes": {
      "modulo_security": {
        "type": "apiKey",
        "name": "Authorization",
        "in": "header"
      },
      "TOKEN": {
        "type": "apiKey",
        "name": "Authorization",
        "in": "header"
      }
    }
  },
  "x-readme": {
    "proxy-enabled": false
  }
}