{
  "openapi": "3.1.0",
  "info": {
    "title": "Modulr API",
    "description": "Modulr API",
    "license": {
      "name": "© Modulr Finance",
      "url": "https://www.modulrfinance.com"
    },
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api-sandbox.modulrfinance.com/api-sandbox-token"
    }
  ],
  "security": [
    {
      "modulo_security": []
    }
  ],
  "tags": [
    {
      "name": "Payments",
      "description": "Operations on Payments"
    }
  ],
  "paths": {
    "/batchpayments/{id}": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "Get batch payment by ID",
        "description": "Get the details of an existing batch payment by ID",
        "operationId": "getBatchPayment",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id given when batch request was made",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/payment.BatchPaymentDetailsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/payment.MessageResponse"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "HMAC": []
          },
          {
            "TOKEN": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "payment.PaymentApproval": {
        "type": "object",
        "description": "A single approval against a batch payment request",
        "properties": {
          "approvedBy": {
            "type": "string",
            "description": "ID of user who approved this batch payment request",
            "example": "U2100021"
          },
          "approvedOn": {
            "type": "string",
            "format": "date",
            "description": "Date this approval was applied",
            "example": "2022-06-25"
          }
        }
      },
      "payment.BatchPaymentDetailsResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique id for the Batch Payment. 10 characters long",
            "example": "D920000001"
          },
          "externalReference": {
            "type": "string",
            "description": "External reference, if provided",
            "example": "aReference_00001"
          },
          "status": {
            "type": "string",
            "description": "Current status of batch.",
            "enum": [
              "ACCEPTED",
              "REJECTED",
              "SUBMITTED",
              "CANCELLED"
            ],
            "example": "ACCEPTED"
          },
          "totalPayments": {
            "type": "integer",
            "format": "int32",
            "description": "Total count of payments in this batch",
            "example": 9123
          },
          "currentUserCanApprove": {
            "type": "boolean",
            "description": "Whether the user is allowed to approve this batch, based on their approval limits, and applicable configuration",
            "example": true
          },
          "paymentDetails": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/payment.PaymentsSummary"
            },
            "description": "Summary of payments and approvals, per currency (as a 3-alpha currency code)"
          },
          "approvals": {
            "type": "array",
            "description": "List of batch-level approvals",
            "items": {
              "$ref": "#/components/schemas/payment.PaymentApproval"
            }
          },
          "currentUserCanCancel": {
            "type": "boolean",
            "description": "Whether the user is allowed and currently able to cancel at least one of the payments in this batch"
          },
          "createdDate": {
            "type": "string",
            "format": "date-time",
            "description": "Datetime when the batch payment was created. Format is 'yyyy-MM-dd'T'HH:mm:ssZ' where Z is UTC offset. e.g 2017-01-28T01:01:01+0000",
            "example": "2017-01-28T01:01:01+0000"
          },
          "createdBy": {
            "type": "string",
            "description": "ID of the user that created the payment"
          },
          "processingDateFrom": {
            "type": "string",
            "format": "date",
            "description": "Earliest processing date in the batch file or the batch creation date if the file does not have any dates. Date format 'yyyy-MM-dd'",
            "example": "2017-01-28"
          },
          "processingDateTo": {
            "type": "string",
            "format": "date",
            "description": "Last processing date in the batch file or empty if the file does not have any dates. Date format 'Format is 'yyyy-MM-dd'T'HH:mm:ssZ' where Z is UTC offset. e.g 2017-01-28T01:01:01+0000'",
            "example": "2017-01-28"
          },
          "earliestScheduledPaymentDate": {
            "type": "string",
            "format": "date",
            "description": "Earliest processing date in the batch file or empty if the file does not have any dates. Date format 'Format is 'yyyy-MM-dd'T'HH:mm:ssZ' where Z is UTC offset. e.g 2017-01-28T01:01:01+0000'",
            "example": "2017-01-28"
          },
          "requiredApprovalCount": {
            "type": "integer",
            "format": "int32",
            "description": "The number of required approvals for the batch.  Applicable to batch payments of submissionType BATCH"
          },
          "batchSummary": {
            "$ref": "#/components/schemas/payment.BatchSummary",
            "description": "Summary of the state of payment requests in this batch"
          },
          "strict": {
            "type": "boolean",
            "description": "Strict processing flag. Whether the entire batch should fail on any individual payment validation failure"
          },
          "summary": {
            "$ref": "#/components/schemas/payment.BatchPaymentSummary",
            "description": "Summary of the state of payment requests in this batch"
          }
        }
      },
      "payment.BatchSummary": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "format": "int64",
            "description": "Total count of payment requests in this batch"
          },
          "inprogress": {
            "type": "integer",
            "format": "int64",
            "description": "Count of payment requests in progress"
          },
          "invalid": {
            "type": "integer",
            "format": "int64",
            "description": "Count of invalid payment requests"
          },
          "errors": {
            "type": "integer",
            "format": "int64",
            "description": "Count of failed payment requests"
          },
          "cancelled": {
            "type": "integer",
            "format": "int64",
            "description": "Count of cancelled payment requests"
          },
          "completed": {
            "type": "integer",
            "format": "int64",
            "description": "Count of completed payments"
          },
          "info": {
            "type": "string",
            "description": "Additional information or error message regarding this batch payment request"
          }
        }
      },
      "payment.PaymentsSummary": {
        "type": "object",
        "description": "Summary of payments and approvals",
        "properties": {
          "totalPaymentCount": {
            "type": "integer",
            "format": "int32",
            "description": "Total count of payments",
            "example": 10
          },
          "totalAmount": {
            "type": "number",
            "description": "Sum total of payment amounts",
            "example": "100.00"
          },
          "pendingApprovalCount": {
            "type": "integer",
            "format": "int32",
            "description": "Count of payments currently pending approval",
            "example": 5
          },
          "pendingApprovalAmount": {
            "type": "number",
            "description": "Sum total of payment amounts currently pending approval",
            "example": "50.00"
          }
        }
      },
      "payment.BatchPaymentSummary": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "format": "int32",
            "description": "Total count of payment requests in this batch"
          },
          "invalid": {
            "type": "integer",
            "format": "int32",
            "description": "Count of invalid payment requests"
          },
          "inprogress": {
            "type": "integer",
            "format": "int32",
            "description": "Count of payment requests in progress"
          },
          "completed": {
            "type": "integer",
            "format": "int32",
            "description": "Count of completed payments"
          },
          "errors": {
            "type": "integer",
            "format": "int32",
            "description": "Count of failed payment requests"
          },
          "cancelled": {
            "type": "integer",
            "format": "int32",
            "description": "Count of cancelled payment requests"
          },
          "info": {
            "type": "string",
            "description": "Additional information or error message regarding this batch payment request"
          },
          "strict": {
            "type": "boolean"
          }
        }
      },
      "payment.MessageResponse": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string"
          },
          "code": {
            "type": "string",
            "enum": [
              "GENERAL",
              "BUSINESSRULE",
              "MFASTATUS",
              "MFAERROR",
              "MFATIMEOUT",
              "MFADEVICEMM",
              "MFAMESSAGEINVALID",
              "NOTFOUND",
              "DUPLICATE",
              "INVALID",
              "CONNECTION",
              "RETRY",
              "RATELIMIT",
              "PERMISSION",
              "NOTACCEPTABLE",
              "MFAVERIFICATION",
              "TOKENEXPIRED"
            ]
          },
          "errorCode": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "sourceService": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "modulo_security": {
        "type": "apiKey",
        "name": "Authorization",
        "in": "header"
      },
      "TOKEN": {
        "type": "apiKey",
        "name": "Authorization",
        "in": "header"
      }
    }
  },
  "x-readme": {
    "proxy-enabled": false
  }
}