{
  "openapi": "3.1.0",
  "info": {
    "title": "Modulr API",
    "description": "Modulr API",
    "license": {
      "name": "© Modulr Finance",
      "url": "https://www.modulrfinance.com"
    },
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api-sandbox.modulrfinance.com/api-sandbox-token"
    }
  ],
  "security": [
    {
      "modulo_security": []
    }
  ],
  "tags": [
    {
      "name": "Cards",
      "description": "Cards API"
    }
  ],
  "paths": {
    "/cards/{cardId}/tokens": {
      "get": {
        "tags": [
          "Cards"
        ],
        "summary": "Get card tokens",
        "description": "Retrieves all payment card tokens for the given card",
        "operationId": "getCardTokens",
        "parameters": [
          {
            "name": "cardId",
            "in": "path",
            "description": "Card ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "V110000001"
          },
          {
            "name": "includeDeletedDevices",
            "in": "query",
            "description": "Include deleted devices in results",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            },
            "example": true
          }
        ],
        "responses": {
          "200": {
            "description": "Card tokens retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/card.GetCardTokensResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/card.MessageResponse"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "HMAC": []
          },
          {
            "TOKEN": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "card.CardTokenDevice": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Device ID",
            "example": "D110000001"
          },
          "type": {
            "type": "string",
            "description": "Device type",
            "enum": [
              "CLOTHING",
              "MEDIA_GAMING",
              "CARD",
              "DOMESTIC_APPLIANCE",
              "FOB",
              "MOBILE_TAG",
              "FASHION",
              "JEWELRY",
              "MOBILE_PHONE",
              "PERSONAL_COMPUTER",
              "WRISTBAND",
              "STICKER",
              "TABLET",
              "UNKNOWN",
              "VEHICLE",
              "WATCH",
              "MOBILE_PHONE_OR_TABLET"
            ],
            "example": "MOBILE_PHONE"
          },
          "ip": {
            "type": "string",
            "description": "IPv4 address of the device. Either in hex format (i.e FFFFFFFF) or decimal format (i.e. 255.255.255.255)",
            "example": "255.255.255.255"
          },
          "name": {
            "type": "string",
            "description": "Device name, as given by the cardholder",
            "example": "iPhone 12"
          },
          "status": {
            "type": "string",
            "description": "Device status",
            "enum": [
              "PENDING_PROVISIONING",
              "PROVISIONED",
              "DELETED",
              "UNKNOWN"
            ],
            "example": "ACTIVE"
          },
          "externalId": {
            "type": "string",
            "description": "Device External Id"
          }
        },
        "required": [
          "externalId",
          "id",
          "ip",
          "name",
          "status",
          "type"
        ]
      },
      "card.GetCardTokensResponse": {
        "type": "object",
        "properties": {
          "size": {
            "type": "integer",
            "format": "int32",
            "description": "Number of elements in content",
            "example": 1
          },
          "content": {
            "type": "array",
            "description": "List of response elements",
            "items": {
              "$ref": "#/components/schemas/card.CardToken"
            }
          }
        },
        "required": [
          "content",
          "size"
        ]
      },
      "card.MessageResponse": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string"
          },
          "code": {
            "type": "string",
            "enum": [
              "GENERAL",
              "BUSINESSRULE",
              "MFASTATUS",
              "MFAERROR",
              "MFATIMEOUT",
              "MFADEVICEMM",
              "MFAMESSAGEINVALID",
              "NOTFOUND",
              "DUPLICATE",
              "INVALID",
              "CONNECTION",
              "RETRY",
              "RATELIMIT",
              "PERMISSION",
              "NOTACCEPTABLE",
              "MFAVERIFICATION",
              "TOKENEXPIRED"
            ]
          },
          "errorCode": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "sourceService": {
            "type": "string"
          }
        }
      },
      "card.CardToken": {
        "type": "object",
        "description": "Payment token details for a card",
        "properties": {
          "id": {
            "type": "string",
            "description": "Card token ID",
            "example": "T110000001"
          },
          "expiry": {
            "type": "string",
            "format": "date",
            "description": "Token expiry date (ISO 8601 format)",
            "example": "2021-10-31"
          },
          "type": {
            "type": "string",
            "description": "Type of system the token is encoded onto",
            "enum": [
              "BROWSER_ACCESSIBLE_WALLET",
              "CONTACTLESS_DEVICE_PAN",
              "CARD_ON_FILE_PAN",
              "REAL_PAN",
              "UNKNOWN",
              "VIRTUAL_PAN",
              "SECURE_ELEMENT",
              "CLOUD_BASED"
            ],
            "example": "SECURE_ELEMENT"
          },
          "wallet": {
            "type": "string",
            "description": "Wallet the token belongs to",
            "enum": [
              "APPLE",
              "GOOGLE",
              "MRCHTOKEN"
            ],
            "example": "APPLE"
          },
          "status": {
            "type": "string",
            "description": "Card token status",
            "enum": [
              "APPROVED",
              "ACTIVE",
              "AWAITING_AUTHENTICATION",
              "AUTHENTICATION_FAILED",
              "AUTO_SUSPENDED",
              "SUSPENDED",
              "DEACTIVATED",
              "UNKNOWN"
            ],
            "example": "PROVISIONED"
          },
          "language": {
            "type": "string",
            "description": "2-digit ISO 639-1 language code",
            "example": "EN"
          },
          "devices": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/card.CardTokenDevice"
            }
          },
          "maskedDpan": {
            "type": "string",
            "description": "Masked DPAN (last 4 digits) to the associated token ID",
            "example": "1234"
          }
        },
        "required": [
          "expiry",
          "id",
          "language",
          "status",
          "type",
          "wallet"
        ]
      }
    },
    "securitySchemes": {
      "modulo_security": {
        "type": "apiKey",
        "name": "Authorization",
        "in": "header"
      },
      "TOKEN": {
        "type": "apiKey",
        "name": "Authorization",
        "in": "header"
      }
    }
  },
  "x-readme": {
    "proxy-enabled": false
  }
}