{
  "openapi": "3.1.0",
  "info": {
    "title": "Modulr API",
    "description": "Modulr API",
    "license": {
      "name": "© Modulr Finance",
      "url": "https://www.modulrfinance.com"
    },
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api-sandbox.modulrfinance.com/api-sandbox-token"
    }
  ],
  "security": [
    {
      "modulo_security": []
    }
  ],
  "tags": [
    {
      "name": "Direct Debits",
      "description": "Direct Debit operations"
    }
  ],
  "paths": {
    "/collectionschedules": {
      "get": {
        "tags": [
          "Direct Debits"
        ],
        "summary": "Get all collectionschedules for a mandate",
        "description": "By supplying the mandate id you can view all information regarding the collection schedules linked to that mandate.",
        "operationId": "getCollectionSchedules",
        "parameters": [
          {
            "name": "mandateId",
            "in": "query",
            "description": "Mandate Id to fetch collections for.",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortField",
            "in": "query",
            "description": "Sort by field",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "pattern": "id|createdDate|payment|status|externalReference"
            }
          },
          {
            "name": "sortOrder",
            "in": "query",
            "description": "Sort order",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "pattern": "asc|desc"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page to fetch (zero-indexed)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Size of page to fetch.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20,
              "maximum": 500
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/directdebit.DirectDebitPageResponseCollectionScheduleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/directdebit.MessageResponse"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/directdebit.MessageResponse"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "HMAC": []
          },
          {
            "TOKEN": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "directdebit.DirectDebitPageResponseCollectionScheduleResponse": {
        "type": "object",
        "properties": {
          "content": {
            "type": "array",
            "description": "List of responses on the current page",
            "items": {
              "$ref": "#/components/schemas/directdebit.CollectionScheduleResponse"
            }
          },
          "size": {
            "type": "integer",
            "format": "int32",
            "description": "Page size"
          },
          "totalSize": {
            "type": "integer",
            "format": "int64",
            "description": "Total count"
          },
          "page": {
            "type": "integer",
            "format": "int32",
            "description": "Current page number, 0-based, i.e first page = 0, second page = 1"
          },
          "totalPages": {
            "type": "integer",
            "format": "int32",
            "description": "Total pages"
          }
        },
        "required": [
          "content",
          "page",
          "size",
          "totalPages",
          "totalSize"
        ]
      },
      "directdebit.CollectionScheduleResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique id for direct-debit collection.",
            "example": "Q0000001"
          },
          "frequency": {
            "type": "string",
            "description": "Frequency for direct-debit collection",
            "example": "MONTHLY"
          },
          "numberOfPayments": {
            "type": "integer",
            "format": "int32",
            "description": "Number of payments for direct-debit collection",
            "example": 12
          },
          "firstPaymentAmount": {
            "type": "number",
            "description": "Amount of the first collection payment",
            "example": "100.00"
          },
          "firstPaymentDate": {
            "type": "string",
            "description": "Date of the first collection payment. Format is yyyy-MM-dd.",
            "example": "2018-01-10"
          },
          "regularPaymentAmount": {
            "type": "number",
            "description": "Amount of the regular collection payments",
            "example": "100.00"
          },
          "regularPaymentStartDate": {
            "type": "string",
            "description": "Start date of the regular collection payment. Format is yyyy-MM-dd.",
            "example": "2018-01-10"
          },
          "createdDate": {
            "type": "string",
            "format": "date-time",
            "description": "Datetime when direct-debit collection was created.Format is 'yyyy-MM-dd'T'HH:mm:ssZ' where Z is UTC offset. e.g 2017-01-28T01:01:01+0000",
            "example": "2017-01-28T01:01:01+0000"
          },
          "status": {
            "type": "string",
            "description": "Status of the direct-debit collection. Can be one of ",
            "example": "PROCESSING"
          },
          "externalReference": {
            "type": "string"
          },
          "collectionReference": {
            "type": "string"
          }
        },
        "required": [
          "createdDate",
          "frequency",
          "id",
          "numberOfPayments",
          "status"
        ]
      },
      "directdebit.MessageResponse": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string"
          },
          "code": {
            "type": "string",
            "enum": [
              "GENERAL",
              "BUSINESSRULE",
              "MFASTATUS",
              "MFAERROR",
              "MFATIMEOUT",
              "MFADEVICEMM",
              "MFAMESSAGEINVALID",
              "NOTFOUND",
              "DUPLICATE",
              "INVALID",
              "CONNECTION",
              "RETRY",
              "RATELIMIT",
              "PERMISSION",
              "NOTACCEPTABLE",
              "MFAVERIFICATION",
              "TOKENEXPIRED"
            ]
          },
          "errorCode": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "sourceService": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "modulo_security": {
        "type": "apiKey",
        "name": "Authorization",
        "in": "header"
      },
      "TOKEN": {
        "type": "apiKey",
        "name": "Authorization",
        "in": "header"
      }
    }
  },
  "x-readme": {
    "proxy-enabled": false
  }
}