{
  "openapi": "3.1.0",
  "info": {
    "title": "Modulr API",
    "description": "Modulr API",
    "license": {
      "name": "© Modulr Finance",
      "url": "https://www.modulrfinance.com"
    },
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api-sandbox.modulrfinance.com/api-sandbox-token"
    }
  ],
  "security": [
    {
      "modulo_security": []
    }
  ],
  "tags": [
    {
      "name": "Direct Debits",
      "description": "Direct Debit operations"
    }
  ],
  "paths": {
    "/indemnity-claims": {
      "get": {
        "tags": [
          "Direct Debits"
        ],
        "summary": "Get Indemnity Claims based on search criteria",
        "description": "Returns a list of Indemnity Claim Advice's based on the parameters provided.",
        "operationId": "getIndemnityClaims",
        "parameters": [
          {
            "name": "accountId",
            "in": "query",
            "description": "Collection Account Id",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "description": "Collection Account Id"
            }
          },
          {
            "name": "indemnityClaimIds",
            "in": "query",
            "description": "List of Indemnity Claim Id's",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "description": "List of Indemnity Claim Id's",
              "example": "ICC1234567",
              "items": {
                "type": "string",
                "description": "List of Indemnity Claim Id's",
                "example": "ICC1234567"
              }
            },
            "example": "ICC1234567"
          },
          {
            "name": "ddicReferences",
            "in": "query",
            "description": "List of DDIC references, these are references related to the claim itself. Must start with DDIC. This is different to the reference used on the mandate, it is generated by the claim originator",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "description": "List of DDIC references, these are references related to the claim itself. Must start with DDIC. This is different to the reference used on the mandate, it is generated by the claim originator",
              "example": "DDICreference",
              "items": {
                "type": "string",
                "description": "List of DDIC references, these are references related to the claim itself. Must start with DDIC. This is different to the reference used on the mandate, it is generated by the claim originator",
                "example": "DDICreference"
              }
            },
            "example": "DDICreference"
          },
          {
            "name": "serviceUserReferences",
            "in": "query",
            "description": "List of mandate/ddi references that claims are related to.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "description": "List of mandate/ddi references that claims are related to.",
              "items": {
                "type": "string",
                "description": "List of mandate/ddi references that claims are related to."
              }
            }
          },
          {
            "name": "statuses",
            "in": "query",
            "description": "List of statuses that claims are in.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "description": "List of statuses that claims are in.",
              "items": {
                "type": "string",
                "description": "List of statuses that claims are in.",
                "enum": [
                  "NEW",
                  "CANCELLED",
                  "SETTLED"
                ]
              }
            }
          },
          {
            "name": "sortField",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "pattern": "(id|createdDate)"
            }
          },
          {
            "name": "sortOrder",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "pattern": "(asc|desc)"
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 500
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/directdebit.IndemnityClaimPageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation Errors",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/directdebit.MessageResponse"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/directdebit.MessageResponse"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "HMAC": []
          },
          {
            "TOKEN": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "directdebit.IndemnityClaimStatusHistoryResponse": {
        "type": "object",
        "properties": {
          "changeDate": {
            "type": "string",
            "format": "date"
          },
          "schemeId": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "NEW",
              "CANCELLED",
              "SETTLED"
            ]
          }
        }
      },
      "directdebit.IndemnityClaimDirectDebitResponse": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number"
          },
          "collectionDate": {
            "type": "string",
            "format": "date"
          },
          "collectionId": {
            "type": "string"
          }
        }
      },
      "directdebit.IndemnityClaimResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "accountBid": {
            "type": "string"
          },
          "serviceUserReference": {
            "type": "string"
          },
          "ddicReference": {
            "type": "string"
          },
          "reasonCode": {
            "type": "string",
            "enum": [
              "AMOUNT_OR_DATE_DIFFER",
              "NO_ADVANCE_NOTICE",
              "DDI_CANCELLED_BY_BANK",
              "DDI_CANCELLED_WITH_SERVICE_USER",
              "NO_INSTRUCTION",
              "INVALID_SIGNATURE",
              "SERVICE_USER_REQUEST",
              "SERVICE_USER_NAME_DISPUTED"
            ]
          },
          "amount": {
            "type": "number"
          },
          "payingBankName": {
            "type": "string"
          },
          "payingBankSortCode": {
            "type": "string"
          },
          "payingBankAccountNumber": {
            "type": "string"
          },
          "payingBankServiceUserNumber": {
            "type": "string"
          },
          "statusHistory": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/directdebit.IndemnityClaimStatusHistoryResponse"
            }
          },
          "status": {
            "type": "string",
            "enum": [
              "NEW",
              "CANCELLED",
              "SETTLED"
            ]
          },
          "directDebits": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/directdebit.IndemnityClaimDirectDebitResponse"
            }
          }
        }
      },
      "directdebit.IndemnityClaimPageResponse": {
        "type": "object",
        "properties": {
          "content": {
            "type": "array",
            "description": "List of responses on the current page",
            "items": {
              "$ref": "#/components/schemas/directdebit.IndemnityClaimResponse"
            }
          },
          "size": {
            "type": "integer",
            "format": "int32",
            "description": "Page size"
          },
          "totalSize": {
            "type": "integer",
            "format": "int64",
            "description": "Total count"
          },
          "page": {
            "type": "integer",
            "format": "int32",
            "description": "Current page number, 0-based, i.e first page = 0, second page = 1"
          },
          "totalPages": {
            "type": "integer",
            "format": "int32",
            "description": "Total pages"
          }
        },
        "required": [
          "content",
          "page",
          "size",
          "totalPages",
          "totalSize"
        ]
      },
      "directdebit.MessageResponse": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string"
          },
          "code": {
            "type": "string",
            "enum": [
              "GENERAL",
              "BUSINESSRULE",
              "MFASTATUS",
              "MFAERROR",
              "MFATIMEOUT",
              "MFADEVICEMM",
              "MFAMESSAGEINVALID",
              "NOTFOUND",
              "DUPLICATE",
              "INVALID",
              "CONNECTION",
              "RETRY",
              "RATELIMIT",
              "PERMISSION",
              "NOTACCEPTABLE",
              "MFAVERIFICATION",
              "TOKENEXPIRED"
            ]
          },
          "errorCode": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "sourceService": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "modulo_security": {
        "type": "apiKey",
        "name": "Authorization",
        "in": "header"
      },
      "TOKEN": {
        "type": "apiKey",
        "name": "Authorization",
        "in": "header"
      }
    }
  },
  "x-readme": {
    "proxy-enabled": false
  }
}