{
  "openapi": "3.1.0",
  "info": {
    "title": "Modulr API",
    "description": "Modulr API",
    "license": {
      "name": "© Modulr Finance",
      "url": "https://www.modulrfinance.com"
    },
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api-sandbox.modulrfinance.com/api-sandbox-token"
    }
  ],
  "security": [
    {
      "modulo_security": []
    }
  ],
  "tags": [
    {
      "name": "Payments",
      "description": "Operations on Payments"
    }
  ],
  "paths": {
    "/payments": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "Retrieve payments",
        "description": "The ability to get the details of payments using various pieces of information, e.g. using Account ID, retrieve all payments in that account. Can get details of one particular payment based on the unique payment reference number.",
        "operationId": "getPayments",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Payment ID. If specified then all other parameters are ignored. Use ids to search for multiple payment IDs",
            "required": false,
            "deprecated": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "deprecated": true,
              "description": "Payment ID. If specified then all other parameters are ignored. Use ids to search for multiple payment IDs"
            }
          },
          {
            "name": "ids",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "$ref": "#/components/schemas/payment.ids"
            }
          },
          {
            "name": "fromCreatedDate",
            "in": "query",
            "description": "Payments created date equal or after to this date. Mandatory Parameter(except when 'id', 'ids', 'fxQuoteId' or 'modifiedSince' parameter is used)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "description": "Payments created date equal or after to this date. Mandatory Parameter(except when 'id', 'ids', 'fxQuoteId' or 'modifiedSince' parameter is used)",
              "example": "2016-01-01T01:01:01+0000"
            },
            "example": "2016-01-01T01:01:01+0000"
          },
          {
            "name": "toCreatedDate",
            "in": "query",
            "description": "Payments created date equal or before to this date",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "description": "Payments created date equal or before to this date"
            }
          },
          {
            "name": "modifiedSince",
            "in": "query",
            "description": "Payments modified date equal or before to this date",
            "required": false,
            "deprecated": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "description": "Payments modified date equal or before to this date"
            }
          },
          {
            "name": "fromUpdatedDate",
            "in": "query",
            "description": "Payments updated date equal or after to this date.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "description": "Payments updated date equal or after to this date.",
              "example": "2016-01-01T01:01:01+0000"
            },
            "example": "2016-01-01T01:01:01+0000"
          },
          {
            "name": "toUpdatedDate",
            "in": "query",
            "description": "Payments updated date equal or before to this date.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "description": "Payments updated date equal or before to this date.",
              "example": "2016-01-01T01:01:01+0000"
            },
            "example": "2016-01-01T01:01:01+0000"
          },
          {
            "name": "sourceAccountId",
            "in": "query",
            "description": "The source account ID",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "description": "The source account ID"
            }
          },
          {
            "name": "hasExternalReference",
            "in": "query",
            "description": "True if the API should return all items that have externalReference. False the API should return all items that don't have externalReference",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "description": "True if the API should return all items that have externalReference. False the API should return all items that don't have externalReference"
            }
          },
          {
            "name": "externalReference",
            "in": "query",
            "description": "External reference can only have alphanumeric characters plus underscore, hyphen and space",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "description": "External reference can only have alphanumeric characters plus underscore, hyphen and space",
              "pattern": "[\\w-\\s]*"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "$ref": "#/components/schemas/payment.status"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "The payment type to search for.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "PAYOUT",
              "description": "The payment type to search for.",
              "enum": [
                "PAYIN",
                "PAYOUT",
                "RETURN"
              ]
            }
          },
          {
            "name": "excludeBatchPayments",
            "in": "query",
            "description": "Exclude payments which are part of a batch with submission type BATCH",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "default": false,
              "description": "Exclude payments which are part of a batch with submission type BATCH"
            }
          },
          {
            "name": "batchPaymentId",
            "in": "query",
            "description": "Filter on batch",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "description": "Filter on batch"
            }
          },
          {
            "name": "reversals",
            "in": "query",
            "description": "Filter on reversals",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "description": "Filter on reversals"
            }
          },
          {
            "name": "schemeId",
            "in": "query",
            "description": "Filter on scheme ID",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "description": "Filter on scheme ID"
            }
          },
          {
            "name": "approvalStatus",
            "in": "query",
            "description": "Payment approval status, multiple statuses can be specified by repeating the parameter",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "$ref": "#/components/schemas/payment.approvalStatus"
            }
          },
          {
            "name": "currency",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "$ref": "#/components/schemas/payment.currency"
            }
          },
          {
            "name": "minAmount",
            "in": "query",
            "description": "Payments amount equal or greater than this amount",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "number",
              "description": "Payments amount equal or greater than this amount",
              "example": 5.5,
              "exclusiveMinimum": 0
            },
            "example": 5.5
          },
          {
            "name": "maxAmount",
            "in": "query",
            "description": "Payments amount equal or less than this amount",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "number",
              "description": "Payments amount equal or less than this amount",
              "example": 50.5,
              "exclusiveMinimum": 0
            },
            "example": 50.5
          },
          {
            "name": "fromPaymentScheduledDate",
            "in": "query",
            "description": "Payments scheduled date equal or after to this date",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Payments scheduled date equal or after to this date",
              "example": "2022-01-01T01:01:01+0000"
            },
            "example": "2022-01-01T01:01:01+0000"
          },
          {
            "name": "toPaymentScheduledDate",
            "in": "query",
            "description": "Payments scheduled date equal or before to this date and in absence of fromPaymentDate, payments executed prior to 180 days from this date",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Payments scheduled date equal or before to this date and in absence of fromPaymentDate, payments executed prior to 180 days from this date",
              "example": "2023-01-01T01:01:01+0000"
            },
            "example": "2023-01-01T01:01:01+0000"
          },
          {
            "name": "customerId",
            "in": "query",
            "description": "Filter on customer ID",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "$ref": "#/components/schemas/payment.customerId"
            },
            "example": "C1234567"
          },
          {
            "name": "currentUserCanApprove",
            "in": "query",
            "description": "Only return payments the current user can approve.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "description": "Only return payments the current user can approve.",
              "example": true
            },
            "example": true
          },
          {
            "name": "sortField",
            "in": "query",
            "description": "Sort by field. Sorted by createdDate if not present",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "description": "Sort by field. Sorted by createdDate if not present",
              "pattern": "(amount|createdDate|paymentScheduledDate)"
            }
          },
          {
            "name": "sortOrder",
            "in": "query",
            "description": "Sorting order:\n1. asc -> ascending\n2. desc -> descending",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "description": "Sorting order:\n1. asc -> ascending\n2. desc -> descending",
              "pattern": "(asc|desc)"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page to fetch. 0 indexed",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "description": "The page to fetch. 0 indexed",
              "minimum": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "The size of the page(s)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "description": "The size of the page(s)",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/payment.PaymentPageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/payment.MessageResponse"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "HMAC": []
          },
          {
            "TOKEN": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "payment.currency": {
        "type": "array",
        "items": {
          "type": "string",
          "description": "Currency of the payment in ISO 4217 format, multiple currencies can be specified by repeating the parameter.",
          "enum": [
            "GBP",
            "EUR",
            "AED",
            "AFN",
            "ALL",
            "AMD",
            "ANG",
            "AOA",
            "ARS",
            "AUD",
            "AWG",
            "AZN",
            "BAM",
            "BBD",
            "BDT",
            "BGN",
            "BHD",
            "BIF",
            "BMD",
            "BND",
            "BOB",
            "BOV",
            "BRL",
            "BSD",
            "BTN",
            "BWP",
            "BYN",
            "BZD",
            "CAD",
            "CDF",
            "CHE",
            "CHF",
            "CHW",
            "CLF",
            "CLP",
            "CNY",
            "COP",
            "COU",
            "CRC",
            "CUC",
            "CUP",
            "CVE",
            "CZK",
            "DJF",
            "DKK",
            "DOP",
            "DZD",
            "EGP",
            "ERN",
            "ETB",
            "FJD",
            "FKP",
            "GEL",
            "GHS",
            "GIP",
            "GMD",
            "GNF",
            "GTQ",
            "GYD",
            "HKD",
            "HNL",
            "HRK",
            "HTG",
            "HUF",
            "IDR",
            "ILS",
            "INR",
            "IQD",
            "IRR",
            "ISK",
            "JMD",
            "JOD",
            "JPY",
            "KES",
            "KGS",
            "KHR",
            "KMF",
            "KPW",
            "KRW",
            "KWD",
            "KYD",
            "KZT",
            "LAK",
            "LBP",
            "LKR",
            "LRD",
            "LSL",
            "LYD",
            "MAD",
            "MDL",
            "MGA",
            "MKD",
            "MMK",
            "MNT",
            "MOP",
            "MRU",
            "MUR",
            "MVR",
            "MWK",
            "MXN",
            "MXV",
            "MYR",
            "MZN",
            "NAD",
            "NGN",
            "NIO",
            "NOK",
            "NPR",
            "NZD",
            "OMR",
            "PAB",
            "PEN",
            "PGK",
            "PHP",
            "PKR",
            "PLN",
            "PYG",
            "QAR",
            "RON",
            "RSD",
            "RUB",
            "RWF",
            "SAR",
            "SBD",
            "SCR",
            "SDG",
            "SEK",
            "SGD",
            "SLE",
            "SLL",
            "SOS",
            "SRD",
            "SSP",
            "STN",
            "SVC",
            "SYP",
            "SZL",
            "SHP",
            "THB",
            "TJS",
            "TMT",
            "TND",
            "TOP",
            "TRY",
            "TTD",
            "TWD",
            "TZS",
            "UAH",
            "UGX",
            "USD",
            "USN",
            "UYI",
            "UYU",
            "UYW",
            "UZS",
            "VES",
            "VND",
            "VUV",
            "WST",
            "XAF",
            "XAG",
            "XAU",
            "XBA",
            "XBB",
            "XBC",
            "XBD",
            "XCD",
            "XDR",
            "XOF",
            "XPD",
            "XPF",
            "XPT",
            "XSU",
            "XTS",
            "XUA",
            "XXX",
            "YER",
            "ZAR",
            "ZMW",
            "ZWL"
          ]
        }
      },
      "payment.PaymentApproval": {
        "type": "object",
        "description": "A single approval against a batch payment request",
        "properties": {
          "approvedBy": {
            "type": "string",
            "description": "ID of user who approved this batch payment request",
            "example": "U2100021"
          },
          "approvedOn": {
            "type": "string",
            "format": "date",
            "description": "Date this approval was applied",
            "example": "2022-06-25"
          }
        }
      },
      "payment.PaymentPageResponse": {
        "type": "object",
        "properties": {
          "content": {
            "type": "array",
            "description": "List of responses on the current page",
            "items": {
              "$ref": "#/components/schemas/payment.PaymentResponse"
            }
          },
          "size": {
            "type": "integer",
            "format": "int32",
            "description": "Page size"
          },
          "totalSize": {
            "type": "integer",
            "format": "int64",
            "description": "Total count"
          },
          "page": {
            "type": "integer",
            "format": "int32",
            "description": "Current page number, 0-based, i.e first page = 0, second page = 1"
          },
          "totalPages": {
            "type": "integer",
            "format": "int32",
            "description": "Total pages"
          }
        },
        "required": [
          "content",
          "page",
          "size",
          "totalPages",
          "totalSize"
        ]
      },
      "payment.status": {
        "type": "array",
        "items": {
          "type": "string",
          "description": "Payment status, multiple statuses can be specified by repeating the parameter",
          "enum": [
            "SUBMITTED",
            "SCREENING_REQ",
            "VALIDATED",
            "PENDING_FOR_DATE",
            "PENDING_FOR_FUNDS",
            "EXT_PROC",
            "PROCESSED",
            "RECONCILED",
            "ER_INVALID",
            "ER_EXTCONN",
            "ER_EXTSYS",
            "ER_EXPIRED",
            "ER_GENERAL",
            "ER_BATCH",
            "EXT_SENT",
            "UNALLOCATED",
            "HELD",
            "RETURNED",
            "CANCELLED",
            "REPROCESSING",
            "VOID",
            "CLEARING",
            "HELD_IN_SUSPENSE"
          ]
        }
      },
      "payment.customerId": {
        "type": "array",
        "description": "Filter on customer ID",
        "example": "C1234567",
        "items": {
          "type": "string",
          "description": "Filter on customer ID",
          "example": "C1234567"
        }
      },
      "payment.approvalStatus": {
        "type": "array",
        "description": "Payment approval status, multiple statuses can be specified by repeating the parameter",
        "items": {
          "type": "string",
          "description": "Payment approval status, multiple statuses can be specified by repeating the parameter",
          "enum": [
            "NOTNEEDED",
            "PENDING",
            "APPROVED",
            "REJECTED",
            "DELETED"
          ]
        }
      },
      "payment.ids": {
        "type": "array",
        "items": {
          "type": "string",
          "description": "Payment IDs. If specified then all other parameters are ignored. Up to 500 IDs can be specified"
        }
      },
      "payment.PaymentResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique id for the Payment request. 10 characters long",
            "example": "P000001ABC"
          },
          "status": {
            "type": "string",
            "description": "Current status of payment.",
            "enum": [
              "SUBMITTED",
              "SCREENING_REQ",
              "VALIDATED",
              "PENDING_FOR_DATE",
              "PENDING_FOR_FUNDS",
              "EXT_PROC",
              "PROCESSED",
              "RECONCILED",
              "ER_INVALID",
              "ER_EXTCONN",
              "ER_EXTSYS",
              "ER_EXPIRED",
              "ER_GENERAL",
              "ER_BATCH",
              "EXT_SENT",
              "UNALLOCATED",
              "HELD",
              "RETURNED",
              "CANCELLED",
              "REPROCESSING",
              "VOID",
              "CLEARING",
              "HELD_IN_SUSPENSE"
            ]
          },
          "createdDate": {
            "type": "string",
            "format": "date-time",
            "description": "Datetime the request was created. Format is 'yyyy-MM-dd'T'HH:mm:ss.sssZ' where Z is UTC offset. e.g '2017-01-28T01:01:01.010+0000'",
            "example": "2017-01-28T01:01:01.010+0000"
          },
          "externalReference": {
            "type": "string",
            "description": "external reference if provided",
            "example": "aReference_00001"
          },
          "details": {
            "description": "All the details of the payment from the original request"
          },
          "approvalStatus": {
            "type": "string",
            "description": "Current approval status of payment",
            "enum": [
              "NOTNEEDED",
              "PENDING",
              "APPROVED",
              "REJECTED",
              "DELETED"
            ]
          },
          "message": {
            "type": "string",
            "description": "Information about payment (if available)"
          },
          "schemeInfo": {
            "$ref": "#/components/schemas/payment.SchemeInfo",
            "description": "Information with regards to the payment scheme"
          },
          "createdBy": {
            "type": "string",
            "description": "ID of the user that created the payment"
          },
          "type": {
            "type": "string",
            "enum": [
              "PAYIN",
              "PAYOUT",
              "RETURN"
            ]
          },
          "paymentScheduledDate": {
            "type": "string",
            "format": "date-time",
            "description": "Datetime of the payment scheduled at. Format is 'yyyy-MM-dd'T'HH:mm:ss.sssZ' where Z is UTC offset. e.g '2017-01-28T01:01:01.010+0000'",
            "example": "2017-01-28T01:01:01.010+0000"
          },
          "currentUserCanApprove": {
            "type": "boolean",
            "description": "Indicates if current user can approve the payment"
          },
          "approvals": {
            "type": "array",
            "description": "List of approvals performed on the payment",
            "items": {
              "$ref": "#/components/schemas/payment.PaymentApproval"
            }
          }
        },
        "required": [
          "details",
          "externalReference",
          "id",
          "status"
        ]
      },
      "payment.SchemeInfo": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "responseCode": {
            "type": "string"
          }
        }
      },
      "payment.MessageResponse": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string"
          },
          "code": {
            "type": "string",
            "enum": [
              "GENERAL",
              "BUSINESSRULE",
              "MFASTATUS",
              "MFAERROR",
              "MFATIMEOUT",
              "MFADEVICEMM",
              "MFAMESSAGEINVALID",
              "NOTFOUND",
              "DUPLICATE",
              "INVALID",
              "CONNECTION",
              "RETRY",
              "RATELIMIT",
              "PERMISSION",
              "NOTACCEPTABLE",
              "MFAVERIFICATION",
              "TOKENEXPIRED"
            ]
          },
          "errorCode": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "sourceService": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "modulo_security": {
        "type": "apiKey",
        "name": "Authorization",
        "in": "header"
      },
      "TOKEN": {
        "type": "apiKey",
        "name": "Authorization",
        "in": "header"
      }
    }
  },
  "x-readme": {
    "proxy-enabled": false
  }
}