{
  "openapi": "3.1.0",
  "info": {
    "title": "Modulr API",
    "description": "Modulr API",
    "license": {
      "name": "© Modulr Finance",
      "url": "https://www.modulrfinance.com"
    },
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api-sandbox.modulrfinance.com/api-sandbox-token"
    }
  ],
  "security": [
    {
      "modulo_security": []
    }
  ],
  "paths": {
    "/standing-order-initiations/{standingOrderInitiationId}": {
      "get": {
        "tags": [
          "Payment Initiations"
        ],
        "summary": "Get standing order initiation request details",
        "description": "Retrieve the details of a specific standing order initiation request.",
        "operationId": "getStandingOrderInitiation",
        "parameters": [
          {
            "name": "standingOrderInitiationId",
            "in": "path",
            "description": "Standing order initiation ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Standing order initiation found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pispgateway.StandingOrderInitiationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/pispgateway.MessageResponse"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Standing order initiation not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pispgateway.StandingOrderInitiationResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "HMAC": []
          },
          {
            "TOKEN": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "pispgateway.StandingOrderPaymentAmount": {
        "type": "object",
        "description": "The amount of the standing order",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency of the account in ISO 4217 format. Default is GBP",
            "enum": [
              "GBP"
            ]
          },
          "recurringAmount": {
            "type": "number",
            "description": "Recurring amount of the payment in Major Currency Units - '1' = 1.00 GBP",
            "example": "100.00",
            "maximum": 2147483647,
            "minimum": 0.01
          }
        },
        "required": [
          "currency",
          "recurringAmount"
        ]
      },
      "pispgateway.StandingOrderPayment": {
        "type": "object",
        "description": "The payment of the standing order",
        "properties": {
          "destination": {
            "$ref": "#/components/schemas/pispgateway.Destination",
            "description": "The destination account for the payment"
          },
          "amount": {
            "$ref": "#/components/schemas/pispgateway.StandingOrderPaymentAmount",
            "description": "The amount of the standing order"
          },
          "reference": {
            "type": "string",
            "description": "Reference to be used for the Payment. This will appear on the Account statement/the recipient's bank account. Min 6 to max 18 characters. Can contain alphanumeric, '-', '.', '&', '/' and space.",
            "example": "Invoice ABC123",
            "minLength": 1
          }
        },
        "required": [
          "amount",
          "destination",
          "reference"
        ]
      },
      "pispgateway.MessageResponse": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string"
          },
          "code": {
            "type": "string",
            "enum": [
              "GENERAL",
              "BUSINESSRULE",
              "MFASTATUS",
              "MFAERROR",
              "MFATIMEOUT",
              "MFADEVICEMM",
              "MFAMESSAGEINVALID",
              "NOTFOUND",
              "DUPLICATE",
              "INVALID",
              "CONNECTION",
              "RETRY",
              "RATELIMIT",
              "PERMISSION",
              "NOTACCEPTABLE",
              "MFAVERIFICATION",
              "TOKENEXPIRED"
            ]
          },
          "errorCode": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "sourceService": {
            "type": "string"
          }
        }
      },
      "pispgateway.StandingOrderSchedule": {
        "type": "object",
        "description": "The schedule of the standing order",
        "properties": {
          "frequency": {
            "type": "string",
            "description": "Type of the capability, can be one of WEEKLY, MONTHLY",
            "enum": [
              "WEEKLY",
              "MONTHLY"
            ]
          },
          "initialDate": {
            "type": "string",
            "description": "The date on which the standing order should begin. This must be at least 3 days in the future from today. Date format 'yyyy-MM-dd'",
            "example": "2021-03-25"
          },
          "finalDate": {
            "type": "string",
            "description": "The optional date on which the standing order should end. If unspecified, the standing order will continue until cancelled.This must be at least 3 days in the future from today. Date format 'yyyy-MM-dd'",
            "example": "2021-03-25"
          }
        },
        "required": [
          "frequency",
          "initialDate"
        ]
      },
      "pispgateway.Destination": {
        "type": "object",
        "description": "The destination account for the payment",
        "properties": {
          "type": {
            "type": "string",
            "description": "Indicates the type of destination. Can be one of ACCOUNT, SCAN",
            "enum": [
              "ACCOUNT",
              "SCAN"
            ]
          },
          "id": {
            "type": "string",
            "description": "Identifier of the destination account if using ACCOUNT type",
            "example": "A1100001"
          },
          "accountNumber": {
            "type": "string",
            "description": "Account Number of destination account if using SCAN type",
            "example": "12345678",
            "pattern": "^[0-9]{8}$"
          },
          "sortCode": {
            "type": "string",
            "description": "Sort Code of destination account if using SCAN type",
            "example": "000000",
            "pattern": "^[0-9]{6}$"
          },
          "name": {
            "type": "string",
            "description": "Name of destination account if using SCAN type (this may be truncated)",
            "example": "Test",
            "maxLength": 70,
            "minLength": 0
          }
        },
        "required": [
          "type"
        ]
      },
      "pispgateway.StandingOrderInitiationResponse": {
        "type": "object",
        "description": "Response object for Get Standing Order Initiation",
        "properties": {
          "id": {
            "type": "string",
            "description": "The identifier of the standing order initiation",
            "example": "I000000001"
          },
          "payment": {
            "$ref": "#/components/schemas/pispgateway.StandingOrderPayment",
            "description": "The payment of the standing order"
          },
          "schedule": {
            "$ref": "#/components/schemas/pispgateway.StandingOrderSchedule",
            "description": "The schedule of the standing order"
          },
          "status": {
            "type": "string",
            "description": "The status of the standing order initiation, can be one of SUBMITTED, AWAITING_CONSENT, CONSENT_REJECTED, EXECUTED, ER_EXPIRED, ER_EXTSYS, ER_GENERAL",
            "example": "AWAITING_CONSENT"
          },
          "aspspId": {
            "type": "string",
            "description": "The identifier of the ASPSP used for the standing order",
            "example": "H100000001"
          },
          "standingOrderStatus": {
            "type": "string",
            "description": "The status of the standing order at the ASPSP. When available, this is passed through from the ASPSP without modification.",
            "example": "InitiationCompleted"
          }
        }
      }
    },
    "securitySchemes": {
      "modulo_security": {
        "type": "apiKey",
        "name": "Authorization",
        "in": "header"
      },
      "TOKEN": {
        "type": "apiKey",
        "name": "Authorization",
        "in": "header"
      }
    }
  },
  "x-readme": {
    "proxy-enabled": false
  }
}