{
  "openapi": "3.1.0",
  "info": {
    "title": "Modulr API",
    "description": "Modulr API",
    "license": {
      "name": "© Modulr Finance",
      "url": "https://www.modulrfinance.com"
    },
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api-sandbox.modulrfinance.com/api-sandbox-token"
    }
  ],
  "security": [
    {
      "modulo_security": []
    }
  ],
  "tags": [
    {
      "name": "Payments",
      "description": "Operations on Payments"
    }
  ],
  "paths": {
    "/batchpayments": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "Make a batch payment",
        "description": "As well as supporting individual payment requests, the Modulr payment platform can also handle multiple payment objects in the same request. This endpoint allows you to make a new batch payment.",
        "operationId": "submitBatchPayments",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/payment.BatchPaymentOutRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "BatchPaymentReference",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/payment.BatchPaymentDetailsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation errors",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/payment.MessageResponse"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "HMAC": []
          },
          {
            "TOKEN": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "payment.NameCheck": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Identifier of name check result",
            "example": "PAV2322342"
          },
          "source": {
            "type": "string",
            "description": "Origin of the name check result, could be MODULR or EXTERNAL",
            "enum": [
              "MODULR",
              "EXTERNAL"
            ],
            "example": "MODULR"
          }
        },
        "required": [
          "id"
        ]
      },
      "payment.PaymentApproval": {
        "type": "object",
        "description": "A single approval against a batch payment request",
        "properties": {
          "approvedBy": {
            "type": "string",
            "description": "ID of user who approved this batch payment request",
            "example": "U2100021"
          },
          "approvedOn": {
            "type": "string",
            "format": "date",
            "description": "Date this approval was applied",
            "example": "2022-06-25"
          }
        }
      },
      "payment.OfficialOrganisationIdentity": {
        "type": "object",
        "properties": {
          "bankPartyIdentification": {
            "type": "string",
            "description": "Bank party identification",
            "example": "12345",
            "maxLength": 35,
            "minLength": 0
          },
          "centralBankIdNumber": {
            "type": "string",
            "description": "Central bank identification number",
            "example": "678910",
            "maxLength": 35,
            "minLength": 0
          },
          "clearingIdNumber": {
            "type": "string",
            "description": "Clearing identification Number",
            "example": "xx15402",
            "maxLength": 35,
            "minLength": 0
          },
          "certificateOfIncorporationNumber": {
            "type": "string",
            "description": "Certification of the incorporation number",
            "example": "1100010",
            "maxLength": 35,
            "minLength": 0
          },
          "countryIdCode": {
            "type": "string",
            "description": "Country identification code",
            "example": "111111",
            "maxLength": 35,
            "minLength": 0
          },
          "customerNumber": {
            "type": "string",
            "description": "Customer number",
            "example": "00221133",
            "maxLength": 35,
            "minLength": 0
          },
          "dataUniversalNumberingSystem": {
            "type": "string",
            "description": "Data universal numbering system",
            "example": "002211330",
            "pattern": "^[0-9]{9,9}?$"
          },
          "employerIdNumber": {
            "type": "string",
            "description": "Employer identification number",
            "example": "00221133",
            "maxLength": 35,
            "minLength": 0
          },
          "gs1glnIdentifier": {
            "type": "string",
            "description": "GS1GLN identifier",
            "example": "00221133",
            "maxLength": 35,
            "minLength": 0
          },
          "sirenCode": {
            "type": "string",
            "description": "SIREN code",
            "example": "00221133",
            "maxLength": 35,
            "minLength": 0
          },
          "siretCode": {
            "type": "string",
            "description": "SIRET code",
            "example": "00221133",
            "maxLength": 35,
            "minLength": 0
          },
          "taxIdNumber": {
            "type": "string",
            "description": "Tax identification number",
            "example": "00221133",
            "maxLength": 35,
            "minLength": 0
          },
          "bicIdentifier": {
            "type": "string",
            "description": "BICI identification",
            "example": "MGALODJAO7A",
            "pattern": "^[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}?$"
          },
          "ibeiIdentifier": {
            "type": "string",
            "description": "IBEI identification",
            "example": "HIZFTMTT59",
            "pattern": "^[A-Z]{2,2}[B-DF-HJ-NP-TV-XZ0-9]{7,7}[0-9]{1,1}?$"
          },
          "beiIdentifier": {
            "type": "string",
            "description": "BEI identification",
            "example": "MHIHISVZUMH",
            "pattern": "^[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}?$"
          },
          "eanglnIdentifier": {
            "type": "string",
            "description": "EANGLN identification",
            "example": "7516164953429",
            "pattern": "^[0-9]{13,13}?$"
          },
          "chipsUniversalIdentifier": {
            "type": "string",
            "description": "CHIPS universal identification",
            "example": "CH157373",
            "pattern": "^CH[0-9]{6,6}?$"
          },
          "genericIdentification3": {
            "type": "string",
            "description": "Generic identification 3",
            "example": "123456788",
            "maxLength": 35,
            "minLength": 0
          },
          "genericIdentificationIssr": {
            "type": "string",
            "description": "Generic identification issr",
            "example": "13143225",
            "maxLength": 35,
            "minLength": 0
          }
        }
      },
      "payment.BatchPaymentDetailsResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique id for the Batch Payment. 10 characters long",
            "example": "D920000001"
          },
          "externalReference": {
            "type": "string",
            "description": "External reference, if provided",
            "example": "aReference_00001"
          },
          "status": {
            "type": "string",
            "description": "Current status of batch.",
            "enum": [
              "ACCEPTED",
              "REJECTED",
              "SUBMITTED",
              "CANCELLED"
            ],
            "example": "ACCEPTED"
          },
          "totalPayments": {
            "type": "integer",
            "format": "int32",
            "description": "Total count of payments in this batch",
            "example": 9123
          },
          "currentUserCanApprove": {
            "type": "boolean",
            "description": "Whether the user is allowed to approve this batch, based on their approval limits, and applicable configuration",
            "example": true
          },
          "paymentDetails": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/payment.PaymentsSummary"
            },
            "description": "Summary of payments and approvals, per currency (as a 3-alpha currency code)"
          },
          "approvals": {
            "type": "array",
            "description": "List of batch-level approvals",
            "items": {
              "$ref": "#/components/schemas/payment.PaymentApproval"
            }
          },
          "currentUserCanCancel": {
            "type": "boolean",
            "description": "Whether the user is allowed and currently able to cancel at least one of the payments in this batch"
          },
          "createdDate": {
            "type": "string",
            "format": "date-time",
            "description": "Datetime when the batch payment was created. Format is 'yyyy-MM-dd'T'HH:mm:ssZ' where Z is UTC offset. e.g 2017-01-28T01:01:01+0000",
            "example": "2017-01-28T01:01:01+0000"
          },
          "createdBy": {
            "type": "string",
            "description": "ID of the user that created the payment"
          },
          "processingDateFrom": {
            "type": "string",
            "format": "date",
            "description": "Earliest processing date in the batch file or the batch creation date if the file does not have any dates. Date format 'yyyy-MM-dd'",
            "example": "2017-01-28"
          },
          "processingDateTo": {
            "type": "string",
            "format": "date",
            "description": "Last processing date in the batch file or empty if the file does not have any dates. Date format 'Format is 'yyyy-MM-dd'T'HH:mm:ssZ' where Z is UTC offset. e.g 2017-01-28T01:01:01+0000'",
            "example": "2017-01-28"
          },
          "earliestScheduledPaymentDate": {
            "type": "string",
            "format": "date",
            "description": "Earliest processing date in the batch file or empty if the file does not have any dates. Date format 'Format is 'yyyy-MM-dd'T'HH:mm:ssZ' where Z is UTC offset. e.g 2017-01-28T01:01:01+0000'",
            "example": "2017-01-28"
          },
          "requiredApprovalCount": {
            "type": "integer",
            "format": "int32",
            "description": "The number of required approvals for the batch.  Applicable to batch payments of submissionType BATCH"
          },
          "batchSummary": {
            "$ref": "#/components/schemas/payment.BatchSummary",
            "description": "Summary of the state of payment requests in this batch"
          },
          "strict": {
            "type": "boolean",
            "description": "Strict processing flag. Whether the entire batch should fail on any individual payment validation failure"
          },
          "summary": {
            "$ref": "#/components/schemas/payment.BatchPaymentSummary",
            "description": "Summary of the state of payment requests in this batch"
          }
        }
      },
      "payment.AddressRequest": {
        "type": "object",
        "properties": {
          "addressLine1": {
            "type": "string",
            "maxLength": 50,
            "minLength": 0
          },
          "addressLine2": {
            "type": "string",
            "maxLength": 50,
            "minLength": 0
          },
          "postTown": {
            "type": "string",
            "maxLength": 50,
            "minLength": 0
          },
          "postCode": {
            "type": "string",
            "maxLength": 10
          },
          "country": {
            "type": "string",
            "description": "Mandatory for international payments."
          },
          "countrySubDivision": {
            "type": "string",
            "maxLength": 35,
            "minLength": 0
          }
        },
        "required": [
          "addressLine1",
          "postTown"
        ]
      },
      "payment.Charge": {
        "type": "object",
        "properties": {
          "bearer": {
            "type": "string",
            "description": "Information about bearer of the charges. Its can be Creditor, Debtor or shared between both",
            "enum": [
              "CRED",
              "DEBT",
              "SHAR"
            ],
            "example": "CRED"
          },
          "amount": {
            "type": "number",
            "description": "Amount of the charges. Max allowed is 999999999999.99",
            "example": "100.00"
          },
          "currency": {
            "type": "string",
            "description": "Currency of charge. Should be ISO Standard currency",
            "enum": [
              "GBP",
              "EUR",
              "AED",
              "AFN",
              "ALL",
              "AMD",
              "ANG",
              "AOA",
              "ARS",
              "AUD",
              "AWG",
              "AZN",
              "BAM",
              "BBD",
              "BDT",
              "BGN",
              "BHD",
              "BIF",
              "BMD",
              "BND",
              "BOB",
              "BOV",
              "BRL",
              "BSD",
              "BTN",
              "BWP",
              "BYN",
              "BZD",
              "CAD",
              "CDF",
              "CHE",
              "CHF",
              "CHW",
              "CLF",
              "CLP",
              "CNY",
              "COP",
              "COU",
              "CRC",
              "CUC",
              "CUP",
              "CVE",
              "CZK",
              "DJF",
              "DKK",
              "DOP",
              "DZD",
              "EGP",
              "ERN",
              "ETB",
              "FJD",
              "FKP",
              "GEL",
              "GHS",
              "GIP",
              "GMD",
              "GNF",
              "GTQ",
              "GYD",
              "HKD",
              "HNL",
              "HRK",
              "HTG",
              "HUF",
              "IDR",
              "ILS",
              "INR",
              "IQD",
              "IRR",
              "ISK",
              "JMD",
              "JOD",
              "JPY",
              "KES",
              "KGS",
              "KHR",
              "KMF",
              "KPW",
              "KRW",
              "KWD",
              "KYD",
              "KZT",
              "LAK",
              "LBP",
              "LKR",
              "LRD",
              "LSL",
              "LYD",
              "MAD",
              "MDL",
              "MGA",
              "MKD",
              "MMK",
              "MNT",
              "MOP",
              "MRU",
              "MUR",
              "MVR",
              "MWK",
              "MXN",
              "MXV",
              "MYR",
              "MZN",
              "NAD",
              "NGN",
              "NIO",
              "NOK",
              "NPR",
              "NZD",
              "OMR",
              "PAB",
              "PEN",
              "PGK",
              "PHP",
              "PKR",
              "PLN",
              "PYG",
              "QAR",
              "RON",
              "RSD",
              "RUB",
              "RWF",
              "SAR",
              "SBD",
              "SCR",
              "SDG",
              "SEK",
              "SGD",
              "SLE",
              "SLL",
              "SOS",
              "SRD",
              "SSP",
              "STN",
              "SVC",
              "SYP",
              "SZL",
              "SHP",
              "THB",
              "TJS",
              "TMT",
              "TND",
              "TOP",
              "TRY",
              "TTD",
              "TWD",
              "TZS",
              "UAH",
              "UGX",
              "USD",
              "USN",
              "UYI",
              "UYU",
              "UYW",
              "UZS",
              "VES",
              "VND",
              "VUV",
              "WST",
              "XAF",
              "XAG",
              "XAU",
              "XBA",
              "XBB",
              "XBC",
              "XBD",
              "XCD",
              "XDR",
              "XOF",
              "XPD",
              "XPF",
              "XPT",
              "XSU",
              "XTS",
              "XUA",
              "XXX",
              "YER",
              "ZAR",
              "ZMW",
              "ZWL"
            ],
            "example": "GBP"
          }
        },
        "required": [
          "amount",
          "bearer",
          "currency"
        ]
      },
      "payment.BatchSummary": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "format": "int64",
            "description": "Total count of payment requests in this batch"
          },
          "inprogress": {
            "type": "integer",
            "format": "int64",
            "description": "Count of payment requests in progress"
          },
          "invalid": {
            "type": "integer",
            "format": "int64",
            "description": "Count of invalid payment requests"
          },
          "errors": {
            "type": "integer",
            "format": "int64",
            "description": "Count of failed payment requests"
          },
          "cancelled": {
            "type": "integer",
            "format": "int64",
            "description": "Count of cancelled payment requests"
          },
          "completed": {
            "type": "integer",
            "format": "int64",
            "description": "Count of completed payments"
          },
          "info": {
            "type": "string",
            "description": "Additional information or error message regarding this batch payment request"
          }
        }
      },
      "payment.FxDetails": {
        "type": "object",
        "properties": {
          "quoteId": {
            "type": "string",
            "description": "Quote Id for foreign exchange trade"
          }
        },
        "required": [
          "quoteId"
        ]
      },
      "payment.PaymentOutRequest": {
        "type": "object",
        "description": "Details of Payment request",
        "properties": {
          "sourceAccountId": {
            "type": "string",
            "description": "Identifier for the sending Account."
          },
          "destination": {
            "$ref": "#/components/schemas/payment.Destination",
            "description": "Destination of the Payment"
          },
          "currency": {
            "type": "string",
            "description": "Currency of the account in ISO 4217 format. Default is GBP",
            "enum": [
              "GBP",
              "EUR",
              "AED",
              "AFN",
              "ALL",
              "AMD",
              "ANG",
              "AOA",
              "ARS",
              "AUD",
              "AWG",
              "AZN",
              "BAM",
              "BBD",
              "BDT",
              "BGN",
              "BHD",
              "BIF",
              "BMD",
              "BND",
              "BOB",
              "BOV",
              "BRL",
              "BSD",
              "BTN",
              "BWP",
              "BYN",
              "BZD",
              "CAD",
              "CDF",
              "CHE",
              "CHF",
              "CHW",
              "CLF",
              "CLP",
              "CNY",
              "COP",
              "COU",
              "CRC",
              "CUC",
              "CUP",
              "CVE",
              "CZK",
              "DJF",
              "DKK",
              "DOP",
              "DZD",
              "EGP",
              "ERN",
              "ETB",
              "FJD",
              "FKP",
              "GEL",
              "GHS",
              "GIP",
              "GMD",
              "GNF",
              "GTQ",
              "GYD",
              "HKD",
              "HNL",
              "HRK",
              "HTG",
              "HUF",
              "IDR",
              "ILS",
              "INR",
              "IQD",
              "IRR",
              "ISK",
              "JMD",
              "JOD",
              "JPY",
              "KES",
              "KGS",
              "KHR",
              "KMF",
              "KPW",
              "KRW",
              "KWD",
              "KYD",
              "KZT",
              "LAK",
              "LBP",
              "LKR",
              "LRD",
              "LSL",
              "LYD",
              "MAD",
              "MDL",
              "MGA",
              "MKD",
              "MMK",
              "MNT",
              "MOP",
              "MRU",
              "MUR",
              "MVR",
              "MWK",
              "MXN",
              "MXV",
              "MYR",
              "MZN",
              "NAD",
              "NGN",
              "NIO",
              "NOK",
              "NPR",
              "NZD",
              "OMR",
              "PAB",
              "PEN",
              "PGK",
              "PHP",
              "PKR",
              "PLN",
              "PYG",
              "QAR",
              "RON",
              "RSD",
              "RUB",
              "RWF",
              "SAR",
              "SBD",
              "SCR",
              "SDG",
              "SEK",
              "SGD",
              "SLE",
              "SLL",
              "SOS",
              "SRD",
              "SSP",
              "STN",
              "SVC",
              "SYP",
              "SZL",
              "SHP",
              "THB",
              "TJS",
              "TMT",
              "TND",
              "TOP",
              "TRY",
              "TTD",
              "TWD",
              "TZS",
              "UAH",
              "UGX",
              "USD",
              "USN",
              "UYI",
              "UYU",
              "UYW",
              "UZS",
              "VES",
              "VND",
              "VUV",
              "WST",
              "XAF",
              "XAG",
              "XAU",
              "XBA",
              "XBB",
              "XBC",
              "XBD",
              "XCD",
              "XDR",
              "XOF",
              "XPD",
              "XPF",
              "XPT",
              "XSU",
              "XTS",
              "XUA",
              "XXX",
              "YER",
              "ZAR",
              "ZMW",
              "ZWL"
            ]
          },
          "amount": {
            "type": "number",
            "description": "Amount of the payment in Major Current Units - '1' = 1.00 GBP",
            "example": "100.00",
            "maximum": 2147483647,
            "minimum": 0.01
          },
          "reference": {
            "type": "string",
            "description": "Reference to be used for the Payment. This will appear on the Account statement/the recipient's bank account. Min 6 to max 18 characters that are not all the same (up to 140 characters for currencies other than GBP). Can contain alphanumeric, '-', '.', '&', '/' and space.",
            "example": "Salary"
          },
          "externalReference": {
            "type": "string",
            "description": "Your reference for this payment",
            "example": "aReference_00001",
            "maxLength": 50,
            "minLength": 0,
            "pattern": "[\\w-\\s]*"
          },
          "endToEndReference": {
            "type": "string",
            "description": "Optional end to end reference. For international payments, Modulr payment ID will be used as end-to-end reference.",
            "example": "aReference_00001"
          },
          "regulatoryReporting": {
            "$ref": "#/components/schemas/payment.RegulatoryReporting",
            "description": "Regulatory reporting"
          },
          "paymentDate": {
            "type": "string",
            "description": "The future date on which to make the payment. Date format 'yyyy-MM-dd'.\n\nNot applicable for international payments which will be submitted on date of submission or next working day, in line with cut-offs.",
            "example": "2017-01-28"
          },
          "overseasPaymentDetail": {
            "$ref": "#/components/schemas/payment.POODetails",
            "description": "Details relating to payment originated overseas.\n\nNot applicable for international payments - all international transactions must originate from the Modulr account creating the payment request."
          },
          "purposeOfPayment": {
            "type": "string",
            "description": "A code from the UK Recommended Purpose Code list that indicates the type of Payment. This is optional for most payment types but recommended to be completed where possible; where it is required for certain purposes of CHAPS payment if not supplied a default value will be used",
            "enum": [
              "BKFE",
              "BKIP",
              "BKPP",
              "CBLK",
              "ACCT",
              "CASH",
              "COLL",
              "CSDB",
              "DEPT",
              "INTC",
              "INTP",
              "LIMA",
              "NETT",
              "EXTD",
              "OTCD",
              "REPO",
              "SBSC",
              "SLEB",
              "AGRT",
              "AREN",
              "BEXP",
              "BOCE",
              "COMC",
              "CPYR",
              "GDSV",
              "GSCB",
              "LICF",
              "ROYA",
              "SERV",
              "SUBS",
              "SUPP",
              "TRAD",
              "CHAR",
              "COMT",
              "ECPR",
              "EPAY",
              "CLPR",
              "COMP",
              "DBTC",
              "HLRP",
              "HLST",
              "INPC",
              "INPR",
              "INSC",
              "INSU",
              "INTE",
              "LBRI",
              "LIFI",
              "LOAN",
              "LOAR",
              "PENO",
              "PPTI",
              "RELG",
              "TRFD",
              "FORW",
              "FXNT",
              "BLDM",
              "BNET",
              "CDBL",
              "CORT",
              "CPKC",
              "EDUC",
              "FAND",
              "FEES",
              "GIFT",
              "GOVT",
              "INSM",
              "IVPT",
              "REBT",
              "REFU",
              "RENT",
              "REOD",
              "TCSC",
              "CMDT",
              "DERI",
              "DIVD",
              "FREX",
              "HEDG",
              "INVS",
              "SAVG",
              "SECU",
              "TREA",
              "FNET",
              "FUTR",
              "DNTS",
              "HLTI",
              "LTCF",
              "MDCS",
              "VIEW",
              "SWFP",
              "SWPP",
              "SWRS",
              "SWUF",
              "ADCS",
              "ALMY",
              "BECH",
              "BENE",
              "BONU",
              "COMM",
              "HREC",
              "PEFC",
              "PENS",
              "SALA",
              "SSBE",
              "LREB",
              "LREV",
              "ESTX",
              "HSTX",
              "INTX",
              "PTXP",
              "RDTX",
              "TAXS",
              "VATX",
              "WHLD",
              "TAXR",
              "CBTV",
              "ELEC",
              "GASB",
              "PHON",
              "UBIL",
              "WTER",
              "GAMB",
              "LOTT",
              "PCOM",
              "PDEP",
              "PLDS",
              "PLRF"
            ]
          },
          "categoryOfPayment": {
            "type": "string",
            "description": "A category code from the UK Recommended Purpose Code list that indicates the general category of the Payment. This is optional for all types of payment, and defaults to 'OTHR' on schemes that accept category",
            "enum": [
              "BONU",
              "CASH",
              "CBLK",
              "CCRD",
              "CORT",
              "DCRD",
              "DIVI",
              "DVPM",
              "FCOL",
              "GP2P",
              "GOVT",
              "HEDG",
              "INTC",
              "INTE",
              "LOAN",
              "MP2P",
              "OTHR",
              "PENS",
              "RRCT",
              "SALA",
              "SECU",
              "SSBE",
              "SUPP",
              "TAXS",
              "TRAD",
              "TREA",
              "VATX",
              "WHLD"
            ]
          },
          "permittedScheme": {
            "type": "string",
            "description": "Attempt to process the payment using only the specified scheme",
            "enum": [
              "SEPA_CREDIT_TRANSFER"
            ]
          },
          "nameCheck": {
            "$ref": "#/components/schemas/payment.NameCheck",
            "description": "Reference to name check result for the destination account."
          },
          "fx": {
            "$ref": "#/components/schemas/payment.FxDetails",
            "description": "Foreign exchange trade details"
          },
          "destinationId": {
            "type": "string",
            "writeOnly": true
          },
          "destinationType": {
            "type": "string",
            "enum": [
              "BENEFICIARY",
              "ACCOUNT",
              "IBAN",
              "SCAN",
              "INTL",
              "ANBRN",
              "AN"
            ],
            "writeOnly": true
          }
        },
        "required": [
          "sourceAccountId"
        ]
      },
      "payment.RegulatoryAuthority": {
        "type": "object",
        "properties": {
          "authorityName": {
            "type": "string",
            "description": "Authority name. Maximum of 70 characters.",
            "example": "Financial Conduct Authority",
            "maxLength": 70,
            "minLength": 0
          },
          "authorityCountry": {
            "type": "string",
            "description": "ISO 3166 country code of the ultimate payers address",
            "enum": [
              "AT",
              "BE",
              "BG",
              "CY",
              "CZ",
              "DK",
              "EE",
              "FI",
              "FR",
              "DE",
              "GR",
              "HR",
              "HU",
              "IS",
              "IE",
              "IT",
              "LV",
              "LI",
              "LT",
              "LU",
              "MT",
              "NL",
              "NO",
              "PL",
              "PT",
              "RO",
              "SK",
              "SI",
              "ES",
              "SE",
              "GB",
              "MQ",
              "YT",
              "GP",
              "GF",
              "RE",
              "MF",
              "GI",
              "GG",
              "IM",
              "JE",
              "MC",
              "CH",
              "AD",
              "SM",
              "VA",
              "AX",
              "PM",
              "BL",
              "AL",
              "MD",
              "ME",
              "MK",
              "RS",
              "AF",
              "DZ",
              "AS",
              "AO",
              "AI",
              "AQ",
              "AG",
              "AR",
              "AM",
              "AW",
              "AU",
              "AZ",
              "BS",
              "BH",
              "BD",
              "BB",
              "BY",
              "BZ",
              "BJ",
              "BM",
              "BT",
              "BO",
              "BQ",
              "BA",
              "BW",
              "BV",
              "BR",
              "IO",
              "VG",
              "BN",
              "BF",
              "BI",
              "KH",
              "CM",
              "CA",
              "CV",
              "KY",
              "CF",
              "TD",
              "CL",
              "CN",
              "CX",
              "CC",
              "CO",
              "KM",
              "CK",
              "CR",
              "CU",
              "CW",
              "CD",
              "DJ",
              "DM",
              "DO",
              "TL",
              "EC",
              "EG",
              "SV",
              "GQ",
              "ER",
              "SZ",
              "ET",
              "FK",
              "FO",
              "FJ",
              "PF",
              "TF",
              "GA",
              "GM",
              "GE",
              "GH",
              "GL",
              "GD",
              "GU",
              "GT",
              "GN",
              "GW",
              "GY",
              "HT",
              "HM",
              "HN",
              "HK",
              "IN",
              "ID",
              "IR",
              "IQ",
              "IL",
              "CI",
              "JM",
              "JP",
              "JO",
              "KZ",
              "KE",
              "KI",
              "XK",
              "KW",
              "KG",
              "LA",
              "LB",
              "LS",
              "LR",
              "LY",
              "MO",
              "MG",
              "MW",
              "MY",
              "MV",
              "ML",
              "MH",
              "MR",
              "MU",
              "MX",
              "FM",
              "MN",
              "MS",
              "MA",
              "MZ",
              "MM",
              "NA",
              "NR",
              "NP",
              "AN",
              "NC",
              "NZ",
              "NI",
              "NE",
              "NG",
              "NU",
              "NF",
              "KP",
              "MP",
              "OM",
              "PK",
              "PW",
              "PS",
              "PA",
              "PG",
              "PY",
              "PE",
              "PH",
              "PN",
              "PR",
              "QA",
              "CG",
              "RU",
              "RW",
              "SH",
              "KN",
              "LC",
              "VC",
              "WS",
              "ST",
              "SA",
              "SN",
              "SC",
              "SL",
              "SG",
              "SX",
              "SB",
              "SO",
              "ZA",
              "KR",
              "GS",
              "SS",
              "LK",
              "SD",
              "SR",
              "SY",
              "SJ",
              "TW",
              "TJ",
              "TZ",
              "TH",
              "TG",
              "TK",
              "TO",
              "TT",
              "TN",
              "TR",
              "TM",
              "TC",
              "TV",
              "UG",
              "UA",
              "AE",
              "UM",
              "US",
              "UY",
              "UZ",
              "VU",
              "VE",
              "VN",
              "VI",
              "WF",
              "EH",
              "YE",
              "ZM",
              "ZW"
            ],
            "example": "GB"
          }
        }
      },
      "payment.Destination": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Indicates the type of destination. IBAN type is required for international payments.",
            "enum": [
              "BENEFICIARY",
              "ACCOUNT",
              "IBAN",
              "SCAN",
              "INTL",
              "ANBRN",
              "AN"
            ],
            "example": "SCAN"
          },
          "id": {
            "type": "string",
            "description": "Identifier for the Payment destination if using ACCOUNT or BENEFICIARY type. Can be either: a) Beneficiary id for an external Payment, b) Account id for a transfer to another Account"
          },
          "iban": {
            "type": "string",
            "description": "International Bank Account Number (IBAN). To be used as the destination identifier when sending ‘IBAN’ type payments",
            "example": "GB20MODR00000000000001",
            "pattern": "^[a-zA-Z]{2}[0-9]{2}([a-zA-Z0-9]){11,30}$"
          },
          "accountNumber": {
            "type": "string",
            "description": "Account Number of destination account if using SCAN type.",
            "example": "12345678"
          },
          "sortCode": {
            "type": "string",
            "description": "Sort Code of destination account if using SCAN type.",
            "example": "000000",
            "pattern": "^[0-9]{6}$"
          },
          "name": {
            "type": "string",
            "description": "Name to use if a new beneficiary is created, and for using as the payee name if SCAN or IBAN types are specified for the destination",
            "example": "Test",
            "maxLength": 100,
            "minLength": 0
          },
          "address": {
            "$ref": "#/components/schemas/payment.AddressRequest",
            "description": "Optional address. Mandatory for international payments."
          },
          "birthdate": {
            "type": "string",
            "format": "date",
            "description": "The destination beneficiary's date of birth. Format: yyyy-MM-dd",
            "example": "2000-01-01"
          },
          "emailAddress": {
            "type": "string",
            "description": "The destination beneficiary's email address",
            "pattern": "[^\\s@]+@[^\\s@]+\\.[^\\s@]+"
          },
          "phoneNumber": {
            "type": "string",
            "description": "The destination beneficiary's phone number"
          },
          "bic": {
            "type": "string",
            "description": "The destination beneficiary's SWIFT BIC (Bank Identifier Code). Only to be used for international payments."
          },
          "countrySpecificDetails": {
            "$ref": "#/components/schemas/payment.DestinationCountrySpecificDetails",
            "description": "Further details required, depending on the destination's country"
          },
          "legalEntityIdentifier": {
            "type": "string",
            "description": "The destination beneficiary's Legal entity Identifier"
          }
        },
        "required": [
          "type"
        ]
      },
      "payment.OverseasAccountIdentifier": {
        "type": "object",
        "properties": {
          "iban": {
            "type": "string",
            "description": "International Bank Account Number (IBAN)",
            "example": "GB20MODR00000000000001",
            "pattern": "^[a-zA-Z]{2}[0-9]{2}[a-zA-Z0-9]{1,30}$"
          },
          "bban": {
            "type": "string",
            "description": "Basic Bank Account Number (BBAN)",
            "example": "NWBK60161331926819",
            "pattern": "^[a-zA-Z0-9]{1,30}$"
          },
          "upic": {
            "type": "string",
            "description": "Universal Payment Identification Code (UPIC)",
            "example": "987654321",
            "pattern": "^\\d{8,17}$"
          },
          "otherAccountNumber": {
            "type": "string",
            "description": "Other Account ID",
            "example": "987654321",
            "pattern": "^[a-zA-Z0-9]{1,34}$"
          }
        }
      },
      "payment.PaymentsSummary": {
        "type": "object",
        "description": "Summary of payments and approvals",
        "properties": {
          "totalPaymentCount": {
            "type": "integer",
            "format": "int32",
            "description": "Total count of payments",
            "example": 10
          },
          "totalAmount": {
            "type": "number",
            "description": "Sum total of payment amounts",
            "example": "100.00"
          },
          "pendingApprovalCount": {
            "type": "integer",
            "format": "int32",
            "description": "Count of payments currently pending approval",
            "example": 5
          },
          "pendingApprovalAmount": {
            "type": "number",
            "description": "Sum total of payment amounts currently pending approval",
            "example": "50.00"
          }
        }
      },
      "payment.DestinationCountrySpecificDetails": {
        "type": "object",
        "properties": {
          "bankName": {
            "type": "string",
            "description": "The name of the destination bank.",
            "example": "Apple Bank"
          },
          "bankAddress": {
            "type": "string",
            "description": "The address of the destination bank.",
            "example": "2100 Broadway"
          },
          "bankCity": {
            "type": "string",
            "description": "The city in which the destination bank resides.",
            "example": "New York City"
          },
          "bankBranchName": {
            "type": "string",
            "description": "The name of the destination bank's branch.",
            "example": "New York"
          },
          "bankBranchCode": {
            "type": "string",
            "description": "The code of the destination bank's branch.",
            "example": "44-04"
          },
          "bankCode": {
            "type": "string",
            "description": "The code identifying the target bank on its respective national network. This is not the BIC/SWIFT code. This is known as the 'ABA code' in the U.S., 'ISFC' in India, 'routing number' in Canada, and so on."
          },
          "chineseId": {
            "type": "string",
            "description": "The 18 digit identification code of the beneficiary. Applies to Chinese beneficiaries only.",
            "example": "01101201901018889"
          },
          "province": {
            "type": "string",
            "description": "The province in which the beneficiary resides. Applies only to beneficiaries residing in China.",
            "example": "Zhejiang"
          },
          "abaRoutingNumber": {
            "type": "string",
            "description": "The 9 digit identification code of the beneficiary. Applies to US beneficiaries only.",
            "example": "123456789",
            "pattern": "^\\d{9}$"
          },
          "business": {
            "type": "boolean",
            "description": "The type of the beneficiary. 'true' for businesses, 'false' otherwise.",
            "example": true
          },
          "bankCodeType": {
            "type": "string",
            "description": "The code type identifying the target bank on its respective national network.\nThis is known as the 'ABA code' in the U.S., 'ISFC' in India, 'routing number' in Canada, and so on.",
            "enum": [
              "ABA",
              "CHIPS"
            ],
            "example": "ABA"
          },
          "bankCountry": {
            "type": "string",
            "description": "The country in which the destination bank resides. Mandatory for international payments.",
            "enum": [
              "AT",
              "BE",
              "BG",
              "CY",
              "CZ",
              "DK",
              "EE",
              "FI",
              "FR",
              "DE",
              "GR",
              "HR",
              "HU",
              "IS",
              "IE",
              "IT",
              "LV",
              "LI",
              "LT",
              "LU",
              "MT",
              "NL",
              "NO",
              "PL",
              "PT",
              "RO",
              "SK",
              "SI",
              "ES",
              "SE",
              "GB",
              "MQ",
              "YT",
              "GP",
              "GF",
              "RE",
              "MF",
              "GI",
              "GG",
              "IM",
              "JE",
              "MC",
              "CH",
              "AD",
              "SM",
              "VA",
              "AX",
              "PM",
              "BL",
              "AL",
              "MD",
              "ME",
              "MK",
              "RS",
              "AF",
              "DZ",
              "AS",
              "AO",
              "AI",
              "AQ",
              "AG",
              "AR",
              "AM",
              "AW",
              "AU",
              "AZ",
              "BS",
              "BH",
              "BD",
              "BB",
              "BY",
              "BZ",
              "BJ",
              "BM",
              "BT",
              "BO",
              "BQ",
              "BA",
              "BW",
              "BV",
              "BR",
              "IO",
              "VG",
              "BN",
              "BF",
              "BI",
              "KH",
              "CM",
              "CA",
              "CV",
              "KY",
              "CF",
              "TD",
              "CL",
              "CN",
              "CX",
              "CC",
              "CO",
              "KM",
              "CK",
              "CR",
              "CU",
              "CW",
              "CD",
              "DJ",
              "DM",
              "DO",
              "TL",
              "EC",
              "EG",
              "SV",
              "GQ",
              "ER",
              "SZ",
              "ET",
              "FK",
              "FO",
              "FJ",
              "PF",
              "TF",
              "GA",
              "GM",
              "GE",
              "GH",
              "GL",
              "GD",
              "GU",
              "GT",
              "GN",
              "GW",
              "GY",
              "HT",
              "HM",
              "HN",
              "HK",
              "IN",
              "ID",
              "IR",
              "IQ",
              "IL",
              "CI",
              "JM",
              "JP",
              "JO",
              "KZ",
              "KE",
              "KI",
              "XK",
              "KW",
              "KG",
              "LA",
              "LB",
              "LS",
              "LR",
              "LY",
              "MO",
              "MG",
              "MW",
              "MY",
              "MV",
              "ML",
              "MH",
              "MR",
              "MU",
              "MX",
              "FM",
              "MN",
              "MS",
              "MA",
              "MZ",
              "MM",
              "NA",
              "NR",
              "NP",
              "AN",
              "NC",
              "NZ",
              "NI",
              "NE",
              "NG",
              "NU",
              "NF",
              "KP",
              "MP",
              "OM",
              "PK",
              "PW",
              "PS",
              "PA",
              "PG",
              "PY",
              "PE",
              "PH",
              "PN",
              "PR",
              "QA",
              "CG",
              "RU",
              "RW",
              "SH",
              "KN",
              "LC",
              "VC",
              "WS",
              "ST",
              "SA",
              "SN",
              "SC",
              "SL",
              "SG",
              "SX",
              "SB",
              "SO",
              "ZA",
              "KR",
              "GS",
              "SS",
              "LK",
              "SD",
              "SR",
              "SY",
              "SJ",
              "TW",
              "TJ",
              "TZ",
              "TH",
              "TG",
              "TK",
              "TO",
              "TT",
              "TN",
              "TR",
              "TM",
              "TC",
              "TV",
              "UG",
              "UA",
              "AE",
              "UM",
              "US",
              "UY",
              "UZ",
              "VU",
              "VE",
              "VN",
              "VI",
              "WF",
              "EH",
              "YE",
              "ZM",
              "ZW"
            ],
            "example": "US"
          }
        }
      },
      "payment.BatchPaymentSummary": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "format": "int32",
            "description": "Total count of payment requests in this batch"
          },
          "invalid": {
            "type": "integer",
            "format": "int32",
            "description": "Count of invalid payment requests"
          },
          "inprogress": {
            "type": "integer",
            "format": "int32",
            "description": "Count of payment requests in progress"
          },
          "completed": {
            "type": "integer",
            "format": "int32",
            "description": "Count of completed payments"
          },
          "errors": {
            "type": "integer",
            "format": "int32",
            "description": "Count of failed payment requests"
          },
          "cancelled": {
            "type": "integer",
            "format": "int32",
            "description": "Count of cancelled payment requests"
          },
          "info": {
            "type": "string",
            "description": "Additional information or error message regarding this batch payment request"
          },
          "strict": {
            "type": "boolean"
          }
        }
      },
      "payment.Address": {
        "type": "object",
        "properties": {
          "addressLine1": {
            "type": "string",
            "description": "First line of the ultimate payers address",
            "example": "2nd Floor",
            "maxLength": 70,
            "minLength": 0
          },
          "addressLine2": {
            "type": "string",
            "description": "Second line of the ultimate payers address",
            "example": "123 High Street",
            "maxLength": 70,
            "minLength": 0
          },
          "postTown": {
            "type": "string",
            "description": "Postal town of the ultimate payers address",
            "example": "Edinburgh",
            "maxLength": 35,
            "minLength": 0
          },
          "postCode": {
            "type": "string",
            "description": "Post code of the ultimate payers address",
            "example": "AB12 3XX",
            "maxLength": 16,
            "minLength": 0
          },
          "country": {
            "type": "string",
            "description": "ISO 3166 country code of the ultimate payers address",
            "example": "GB"
          }
        },
        "required": [
          "country"
        ]
      },
      "payment.BirthDetails": {
        "type": "object",
        "properties": {
          "dateOfBirth": {
            "type": "string",
            "description": "Date of birth in ISO 8601 format of the ultimate payer",
            "example": "1978-01-01",
            "pattern": "^\\d{4}-([0]\\d|1[0-2])-([0-2]\\d|3[01])$"
          },
          "cityOfBirth": {
            "type": "string",
            "description": "City of birth of the ultimate payer",
            "example": "Edinburgh",
            "maxLength": 35,
            "minLength": 0
          },
          "countryOfBirth": {
            "type": "string",
            "description": "ISO 3166 country code of the ultimate payers country of birth",
            "example": "GB"
          }
        }
      },
      "payment.OfficialIdDetails": {
        "type": "object",
        "properties": {
          "drivingLicenceNumber": {
            "type": "string",
            "description": "Driving licence number",
            "example": "JONES849339TS8AD",
            "maxLength": 35,
            "minLength": 0
          },
          "customerNumber": {
            "type": "string",
            "description": "Customer number",
            "example": "23547326547632",
            "maxLength": 35,
            "minLength": 0
          },
          "socialSecurityNumber": {
            "type": "string",
            "description": "Social security number or equivalent",
            "example": "1110000000022AB",
            "maxLength": 35,
            "minLength": 0
          },
          "passportNumber": {
            "type": "string",
            "description": "Passport number",
            "example": "123456789",
            "maxLength": 35,
            "minLength": 0
          },
          "idCardNumber": {
            "type": "string",
            "description": "National ID card number",
            "example": "123456789",
            "maxLength": 35,
            "minLength": 0
          },
          "otherIdNumber": {
            "type": "string",
            "description": "Other ID number",
            "example": "123456789",
            "maxLength": 35,
            "minLength": 0
          }
        }
      },
      "payment.BatchPaymentOutRequest": {
        "type": "object",
        "description": "Details of Batch request",
        "properties": {
          "externalReference": {
            "type": "string",
            "description": "Your reference for this Batch of payments",
            "example": "aReference_00001",
            "maxLength": 50,
            "minLength": 0,
            "pattern": "[\\w-\\s]*"
          },
          "strictProcessing": {
            "type": "boolean",
            "description": "Flag to control if the entire batch fails for any individual payment validation failure"
          },
          "submissionType": {
            "type": "string",
            "description": "BATCH restricts operations to batch level.  BULK (default) allows payment level operations such as approval",
            "enum": [
              "BATCH",
              "BULK"
            ]
          },
          "payments": {
            "type": "array",
            "description": "List of payments.",
            "items": {
              "$ref": "#/components/schemas/payment.PaymentOutRequest"
            },
            "maxItems": 10000,
            "minItems": 1
          }
        },
        "required": [
          "payments"
        ]
      },
      "payment.PaymentDetails": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "Amount of currency that the payment is in",
            "example": "1000.45"
          },
          "exchangeRate": {
            "type": "number",
            "description": "Exchange rate",
            "example": "1.45"
          },
          "currency": {
            "type": "string",
            "description": "ISO 4217 currency code that the amount is in",
            "enum": [
              "GBP",
              "EUR",
              "AED",
              "AFN",
              "ALL",
              "AMD",
              "ANG",
              "AOA",
              "ARS",
              "AUD",
              "AWG",
              "AZN",
              "BAM",
              "BBD",
              "BDT",
              "BGN",
              "BHD",
              "BIF",
              "BMD",
              "BND",
              "BOB",
              "BOV",
              "BRL",
              "BSD",
              "BTN",
              "BWP",
              "BYN",
              "BZD",
              "CAD",
              "CDF",
              "CHE",
              "CHF",
              "CHW",
              "CLF",
              "CLP",
              "CNY",
              "COP",
              "COU",
              "CRC",
              "CUC",
              "CUP",
              "CVE",
              "CZK",
              "DJF",
              "DKK",
              "DOP",
              "DZD",
              "EGP",
              "ERN",
              "ETB",
              "FJD",
              "FKP",
              "GEL",
              "GHS",
              "GIP",
              "GMD",
              "GNF",
              "GTQ",
              "GYD",
              "HKD",
              "HNL",
              "HRK",
              "HTG",
              "HUF",
              "IDR",
              "ILS",
              "INR",
              "IQD",
              "IRR",
              "ISK",
              "JMD",
              "JOD",
              "JPY",
              "KES",
              "KGS",
              "KHR",
              "KMF",
              "KPW",
              "KRW",
              "KWD",
              "KYD",
              "KZT",
              "LAK",
              "LBP",
              "LKR",
              "LRD",
              "LSL",
              "LYD",
              "MAD",
              "MDL",
              "MGA",
              "MKD",
              "MMK",
              "MNT",
              "MOP",
              "MRU",
              "MUR",
              "MVR",
              "MWK",
              "MXN",
              "MXV",
              "MYR",
              "MZN",
              "NAD",
              "NGN",
              "NIO",
              "NOK",
              "NPR",
              "NZD",
              "OMR",
              "PAB",
              "PEN",
              "PGK",
              "PHP",
              "PKR",
              "PLN",
              "PYG",
              "QAR",
              "RON",
              "RSD",
              "RUB",
              "RWF",
              "SAR",
              "SBD",
              "SCR",
              "SDG",
              "SEK",
              "SGD",
              "SLE",
              "SLL",
              "SOS",
              "SRD",
              "SSP",
              "STN",
              "SVC",
              "SYP",
              "SZL",
              "SHP",
              "THB",
              "TJS",
              "TMT",
              "TND",
              "TOP",
              "TRY",
              "TTD",
              "TWD",
              "TZS",
              "UAH",
              "UGX",
              "USD",
              "USN",
              "UYI",
              "UYU",
              "UYW",
              "UZS",
              "VES",
              "VND",
              "VUV",
              "WST",
              "XAF",
              "XAG",
              "XAU",
              "XBA",
              "XBB",
              "XBC",
              "XBD",
              "XCD",
              "XDR",
              "XOF",
              "XPD",
              "XPF",
              "XPT",
              "XSU",
              "XTS",
              "XUA",
              "XXX",
              "YER",
              "ZAR",
              "ZMW",
              "ZWL"
            ]
          }
        },
        "required": [
          "amount",
          "currency",
          "exchangeRate"
        ]
      },
      "payment.POODetails": {
        "type": "object",
        "properties": {
          "ultimatePayer": {
            "$ref": "#/components/schemas/payment.UltimatePayer"
          },
          "originalPaymentDetails": {
            "$ref": "#/components/schemas/payment.PaymentDetails"
          },
          "chargeDetails": {
            "$ref": "#/components/schemas/payment.Charge"
          },
          "additionalRemittanceInformation": {
            "type": "string",
            "maxLength": 140,
            "minLength": 0
          }
        }
      },
      "payment.RegulatoryReporting": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Regulatory Reporting Type",
            "enum": [
              "CRED",
              "DEBT",
              "BOTH"
            ],
            "example": "CRED"
          },
          "regulatoryAuthority": {
            "$ref": "#/components/schemas/payment.RegulatoryAuthority",
            "description": "Regulatory authority"
          },
          "structuredRegulatoryReporting": {
            "$ref": "#/components/schemas/payment.StructuredRegulatoryReporting",
            "description": "Structured regulatory reporting"
          }
        }
      },
      "payment.StructuredRegulatoryReporting": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "maxLength": 3,
            "minLength": 0
          },
          "amount": {
            "type": "number",
            "description": "Amount of the payment in Major Current Units - '1' = 1.00 GBP",
            "example": "100.00",
            "maximum": 2147483647,
            "minimum": 0.01
          },
          "currencyCode": {
            "type": "string",
            "description": "Currency of the account in ISO 4217 format. Default is GBP",
            "enum": [
              "GBP",
              "EUR",
              "AED",
              "AFN",
              "ALL",
              "AMD",
              "ANG",
              "AOA",
              "ARS",
              "AUD",
              "AWG",
              "AZN",
              "BAM",
              "BBD",
              "BDT",
              "BGN",
              "BHD",
              "BIF",
              "BMD",
              "BND",
              "BOB",
              "BOV",
              "BRL",
              "BSD",
              "BTN",
              "BWP",
              "BYN",
              "BZD",
              "CAD",
              "CDF",
              "CHE",
              "CHF",
              "CHW",
              "CLF",
              "CLP",
              "CNY",
              "COP",
              "COU",
              "CRC",
              "CUC",
              "CUP",
              "CVE",
              "CZK",
              "DJF",
              "DKK",
              "DOP",
              "DZD",
              "EGP",
              "ERN",
              "ETB",
              "FJD",
              "FKP",
              "GEL",
              "GHS",
              "GIP",
              "GMD",
              "GNF",
              "GTQ",
              "GYD",
              "HKD",
              "HNL",
              "HRK",
              "HTG",
              "HUF",
              "IDR",
              "ILS",
              "INR",
              "IQD",
              "IRR",
              "ISK",
              "JMD",
              "JOD",
              "JPY",
              "KES",
              "KGS",
              "KHR",
              "KMF",
              "KPW",
              "KRW",
              "KWD",
              "KYD",
              "KZT",
              "LAK",
              "LBP",
              "LKR",
              "LRD",
              "LSL",
              "LYD",
              "MAD",
              "MDL",
              "MGA",
              "MKD",
              "MMK",
              "MNT",
              "MOP",
              "MRU",
              "MUR",
              "MVR",
              "MWK",
              "MXN",
              "MXV",
              "MYR",
              "MZN",
              "NAD",
              "NGN",
              "NIO",
              "NOK",
              "NPR",
              "NZD",
              "OMR",
              "PAB",
              "PEN",
              "PGK",
              "PHP",
              "PKR",
              "PLN",
              "PYG",
              "QAR",
              "RON",
              "RSD",
              "RUB",
              "RWF",
              "SAR",
              "SBD",
              "SCR",
              "SDG",
              "SEK",
              "SGD",
              "SLE",
              "SLL",
              "SOS",
              "SRD",
              "SSP",
              "STN",
              "SVC",
              "SYP",
              "SZL",
              "SHP",
              "THB",
              "TJS",
              "TMT",
              "TND",
              "TOP",
              "TRY",
              "TTD",
              "TWD",
              "TZS",
              "UAH",
              "UGX",
              "USD",
              "USN",
              "UYI",
              "UYU",
              "UYW",
              "UZS",
              "VES",
              "VND",
              "VUV",
              "WST",
              "XAF",
              "XAG",
              "XAU",
              "XBA",
              "XBB",
              "XBC",
              "XBD",
              "XCD",
              "XDR",
              "XOF",
              "XPD",
              "XPF",
              "XPT",
              "XSU",
              "XTS",
              "XUA",
              "XXX",
              "YER",
              "ZAR",
              "ZMW",
              "ZWL"
            ]
          },
          "information": {
            "type": "string",
            "maxLength": 35,
            "minLength": 0
          }
        }
      },
      "payment.UltimatePayer": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the ultimate payer",
            "maxLength": 70,
            "minLength": 0
          },
          "address": {
            "$ref": "#/components/schemas/payment.Address"
          },
          "birthDetails": {
            "$ref": "#/components/schemas/payment.BirthDetails",
            "description": "Birth details of a person. Official identification details. Property 'birthDetails' and/or 'officialIdentification' Or 'officialIdDetailOrgs' is mandatory"
          },
          "officialIdentification": {
            "$ref": "#/components/schemas/payment.OfficialIdDetails",
            "description": "Official identification for a person. Property 'birthDetails' and/or 'officialIdentification' Or 'officialIdDetailOrgs' is mandatory"
          },
          "officialIdDetailOrgs": {
            "$ref": "#/components/schemas/payment.OfficialOrganisationIdentity",
            "description": "Organisation's official identification. Official identification details. Property 'birthDetails' and/or 'officialIdentification' Or 'officialIdDetailOrgs' is mandatory"
          },
          "overseasAccountIdentifier": {
            "$ref": "#/components/schemas/payment.OverseasAccountIdentifier"
          },
          "bic": {
            "type": "string",
            "description": "Destination beneficiary's BIC/Swift Code.",
            "example": "MODRDEFF123",
            "pattern": "^[A-Z]{6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3})?$"
          }
        },
        "required": [
          "address",
          "name"
        ]
      },
      "payment.MessageResponse": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string"
          },
          "code": {
            "type": "string",
            "enum": [
              "GENERAL",
              "BUSINESSRULE",
              "MFASTATUS",
              "MFAERROR",
              "MFATIMEOUT",
              "MFADEVICEMM",
              "MFAMESSAGEINVALID",
              "NOTFOUND",
              "DUPLICATE",
              "INVALID",
              "CONNECTION",
              "RETRY",
              "RATELIMIT",
              "PERMISSION",
              "NOTACCEPTABLE",
              "MFAVERIFICATION",
              "TOKENEXPIRED"
            ]
          },
          "errorCode": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "sourceService": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "modulo_security": {
        "type": "apiKey",
        "name": "Authorization",
        "in": "header"
      },
      "TOKEN": {
        "type": "apiKey",
        "name": "Authorization",
        "in": "header"
      }
    }
  },
  "x-readme": {
    "proxy-enabled": false
  }
}